<td class="wrapper">
    <p class="user-name">Dear {{USERNAME}},</p>
    
    <p>We’re pleased to inform you that your TaskFlow account has been successfully reactivated. All of your account details, content, and services have been fully restored, and you can now continue using the platform without any interruptions. We are glad to have you back!</p>
    <br />
        <p>
            If it wasn't you, please review your account security or change your password.
        </p>

        <br />

        <p>Thank you for being a valued member of our community.</p>
    </td>