<td class="wrapper">
    <p class="user-name">Hi {{USERNAME}},</p>
    <p>Forgot your password? Click on the link below to reset your password.</p>
    <p>This reset password link will be valid only for 10 minutes.</p>
    <br />
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td> <a href="{{URL}}" target=" _blank">Reset your password</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <p>
        If you did not forget your password, please ignore this email!
    </p>
</td>