.main {
  display: flex;
}
.nav {
  width: 17%;
  position: fixed;
  left: 0;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  position: fixed;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(5px);
  width: 83%;
}

.page {
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: orange;
}

.search-box {
  margin-left: 3rem;
  position: relative;
}

.search {
  outline: none;
  width: 25rem;
  border-radius: 20px;
  padding: 0.8rem;
  padding-left: 2.5rem;
  border: 1px solid gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.05rem;
  opacity: 0.7;
  padding-right: 2.5rem;
}

.search-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
}

.cancel-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  right: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.show-cancel-icon {
  display: inline;
}

.search-box ::placeholder {
  color: black;
  opacity: 0.9;
  font-family: calligraphy;
  font-size: 1.08rem;
}

.icon-div {
  display: flex;
  margin: 0 2rem;
  align-items: center;
}

.icon-container {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

.notification-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.icon-container:nth-child(2) {
  padding: 0.45rem;
}

.chat-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: gray;
}

.profile-div {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 1px solid orange;
  cursor: pointer;
}

.profile-box {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  align-items: flex-end;
}

.profile-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.profile-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: 0.95rem;
}

.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  position: fixed;
  width: 17%;
  z-index: 3;
  backdrop-filter: blur(5px);
}

.icon-box {
  background: orange;
  border-radius: 10px;
  padding: 0.4rem;
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}

.head-text {
  color: black;
  font-family: protestRiot;
  font-size: 1.5rem;
  transform: translateY(4px);
}

.side-nav {
  list-style-type: none;
  margin-top: 5.3rem;
  padding-top: 2.7rem;
  height: calc(100vh - 8rem);
  overflow: auto;
}

.side-nav-item {
  margin-bottom: 1.25rem;
  padding: 0.25rem 1rem;
  padding-left: 1.5rem;
}

.side-nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.05rem;
  transition: color 0.3s, font-weight 0.3s;
}

.side-nav-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: gray;
  transition: fill 0.3s;
}

.side-nav-link:hover,
.side-nav-link:hover .side-nav-icon {
  color: orange;
  fill: orange;
  font-weight: bold;
}

.analytics {
  border-right: 2px solid orange;
}

.analytics-link {
  color: orange;
}

.analytics-icon {
  fill: orange;
}

.analytics-link:hover {
  font-weight: 500;
}

.responsive-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  animation: showNav 0.2s linear 0s;
}

.show-nav {
  display: block;
}

.responsive-section {
  background: white;
  height: 100%;
  width: 20%;
  overflow: auto;
}

.responsive-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  width: auto;
  margin-top: 1rem;
}

.responsive-side-nav {
  list-style-type: none;
  padding-top: 2.5rem;
  height: auto;
  overflow: auto;
}

.menu-icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.menu-icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: gray;
  transform: translateY(2px);
}

.menu-icon-box:hover {
  opacity: 0.7;
}

.alternate-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.alternate-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.notifications {
  display: none;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.category-div {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem 1rem;
  justify-content: space-between;
  width: 50%;
}

.category {
  background: white;
  box-shadow: 1px 1px 10px -6px black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.category:nth-child(2n) {
  margin-right: 0;
}

.category-details {
  display: flex;
  flex-direction: column;
  font-family: var(--general-font);
  margin-right: 2rem;
}

.category-head,
.category-text {
  color: gray;
  font-weight: 600;
  font-size: 1rem;
}

.category-number {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.2rem 0 0.8rem;
}

.category-rate {
  color: green;
}

.category-rate2 {
  color: red;
}

.rate-icon-box {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  position: absolute;
  z-index: 2;
  right: 1%;
  top: 0;
}

.rate-icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: green;
  transform: scaleX(0.8);
}

.rate-icon-inverse {
  transform: rotateZ(180deg) scaleX(0.8);
  fill: red;
  width: 3.5rem;
  height: 3.5rem;
}

.project-graph-box {
  display: flex;
  flex-direction: column;
  /* width: 34rem; */
  padding: 1.5rem 1rem;
  width: 50%;
}

.bottom-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.tasks-area-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.pie-chart-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.pie-chart-div {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.pie-chart-box {
  width: 40%;
  pointer-events: none;
}

.graph-head-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

.graph-head {
  font-size: 1.15rem;
  font-family: var(--general-font);
  font-weight: bold;
}

.graph-select {
  padding: 0.2rem;
  outline: none;
  border: 2px solid orange;
  font-family: var(--general-font);
  font-size: 0.95rem;
  color: gray;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  flex: 0;
}

.task-category-list {
  list-style-type: none;
  padding: 1rem 0;
}

.task-category-item {
  font-family: var(--general-font);
  display: flex;
  margin-bottom: 2rem;
}

.task-category-item:nth-child(3) {
  margin-bottom: 0;
}

.task-icon1 {
  color: red;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(1px);
  margin-right: 0.2rem;
}

.task-icon2 {
  color: orange;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(1px);
  margin-right: 0.2rem;
}

.task-icon3 {
  color: green;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(1px);
  margin-right: 0.2rem;
}

.task-item-details {
  display: flex;
  flex-direction: column;
}

.task-item-type {
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: 0.2rem;
}

.task-item-number {
  color: gray;
  font-weight: 700;
  font-size: 0.95rem;
}

.view-project-div {
  display: flex;
  align-items: center;
}

.view-project-input {
  padding: 0.2rem;
  outline: none;
  border: 2px solid orange;
  font-family: var(--general-font);
  font-size: 0.95rem;
  color: gray;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.hide-date-input {
  display: none;
}

.view-project-btn {
  outline: none;
  font-family: var(--general-font);
  border: none;
  background: orange;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}

.view-project-btn:hover {
  opacity: 0.85;
}

.add-padding {
  margin-top: 2rem;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Queries */

@media screen and (min-width: 1100px) {
  .responsive-nav {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .rate-icon,
  .rate-icon-inverse {
    width: 3rem;
    height: 3rem;
  }

  .view-project-div {
    position: absolute;
    right: 0;
    bottom: -150%;
  }

  .category-details {
    margin-right: 1rem;
  }

  .task-category-item {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 1174px) {
  .search {
    width: 22rem;
  }
  .task-category-item {
    margin-bottom: 1rem;
  }

  .category-details {
    margin-right: 0;
  }
}

@media screen and (max-width: 1099px) {
  .responsive-section {
    width: 25%;
  }

  .section-content {
    margin-top: 5.9rem;
  }

  .nav {
    display: none;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .header {
    width: 100%;
    padding: 1.5rem 1.8rem;
    padding-left: 1.2rem;
  }

  .menu-icon-box {
    display: flex;
  }

  .rate-icon,
  .rate-icon-inverse {
    width: 3.5rem;
    height: 3.5rem;
  }

  .category-details {
    margin-right: 1rem;
  }

  .task-category-item {
    margin-bottom: 1.5rem;
  }
  .category-div {
    padding: 2rem 1.5rem;
  }

  .project-graph-box {
    padding: 1.5rem;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 999px) {
  .responsive-section {
    width: 28%;
  }

  .icon-div {
    display: none;
  }

  .notifications {
    display: block;
  }
  .rate-icon,
  .rate-icon-inverse {
    width: 3rem;
    height: 3rem;
  }

  .category-details {
    margin-right: 0;
  }
  .category {
    padding: 0.5rem 1rem 1rem;
  }
  .task-category-item {
    margin-bottom: 1rem;
  }

  .project-graph-box {
    padding: 2rem 1rem 1rem;
  }
}

@media screen and (max-width: 899px) {
  .responsive-section {
    width: 32%;
  }

  .search {
    width: 20rem;
  }

  .top-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .project-graph-box {
    width: 100%;
  }

  .category-div {
    grid-template-columns: auto auto;
    padding: 2rem 1.5rem;
    justify-content: stretch;
    width: 100%;
  }

  .category {
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .project-graph-box {
    padding: 0rem 2rem;
    /* width: 90%; */
  }
  .rate-icon,
  .rate-icon-inverse {
    width: 3.5rem;
    height: 3.5rem;
  }

  .bottom-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .tasks-area-box {
    width: 100%;
    padding: 1.5rem;
  }

  .pie-chart-container {
    width: 100%;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 799px) {
  .responsive-section {
    width: 35%;
  }
  .search-box {
    margin-left: 2rem;
  }

  .search {
    width: 18rem;
  }
}

@media screen and (max-width: 699px) {
  .responsive-section {
    width: 40%;
  }
  .profile-box {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .responsive-section {
    width: 47%;
  }
  .search {
    width: 13rem;
  }
}

@media screen and (max-width: 499px) {
  .responsive-section {
    width: 54%;
  }
  .search-box {
    display: none;
  }

  .menu-icon-box {
    margin-right: 0.8rem;
  }

  .alternate-search-box {
    display: flex;
  }
}

@media screen and (max-width: 399px) {
  .responsive-section {
    width: 65%;
  }
  .alternate-search-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .alternate-search-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: gray;
  }
}

@media screen and (max-width: 329px) {
  .responsive-section {
    width: 70%;
  }
}

@media screen and (max-width: 299px) {
  .responsive-section {
    width: 80%;
  }
  .alternate-search-box {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .menu-icon-box {
    margin-right: 0.3rem;
  }
}
