.chat-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(220, 220, 220, 0.3);
  display: none;
}

.show-chats {
  display: block;
}

.contact-head {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index: 2;
}

.profile-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.profile-img {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  object-fit: cover;
}

.name-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-name {
  font-family: var(--general-font);
  font-weight: 600;
  font-size: 1.1rem;
}

.last-time-seen {
  font-family: var(--general-font);
  font-size: 0.9rem;
  color: gray;
  font-weight: 600;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
}

.chat-search-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: gray;
}

.chat-container {
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 2rem;
  overflow: auto;
  overflow-x: hidden;
  height: 74%;
}

.chat-bubble {
  display: flex;
  flex-direction: column;
}

.owner-chat-bubble {
  margin-top: 1rem;
}

.others-chat-bubble {
  margin-top: 1rem;
}

.others-chat-bubble2 {
  margin-top: 0.5rem;
}

.chat-date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.chat-date {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 600;
  font-family: var(--general-font);
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
}

.owner-chat-content {
  display: flex;
  flex-direction: column;
  background: orange;
  font-family: var(--general-font);
  align-self: flex-end;
  border-radius: 8px 0px 8px 8px;
  padding: 0.6rem;
  position: relative;
  word-wrap: break-word;
  max-width: 75%;
}

.thread-container {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px -3px black;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-left: 4px solid white;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.thread-box {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
}

.thread-owner {
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
}

.thread {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.85rem;
  word-break: break-all;
}

.thread-media-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  margin-left: auto;
}

.thread-media {
  width: 4.5rem;
  height: 3rem;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 1rem;
}

.chat-response {
  font-weight: 500;
  font-size: 1.02rem;
}

.chat-details {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  margin-top: 0.1rem;
}

.chat-send-time {
  font-size: 0.8rem;
  color: gray;
  font-weight: 700;
  margin-right: 0.3rem;
}

.chat-status-icon {
  width: 1rem;
  height: 1rem;
  color: gray;
}

.chat-status-icon3 {
  color: #0096ff;
}

.others-chat-content {
  display: flex;
  flex-direction: column;
  background: LightSteelBlue;
  font-family: var(--general-font);
  align-self: flex-start;
  border-radius: 0px 8px 8px 8px;
  padding: 0.6rem;
  position: relative;
  word-wrap: break-word;
  max-width: 75%;
}

.others-chat-content2 {
  display: flex;
  flex-direction: column;
  background: LightSteelBlue;
  font-family: var(--general-font);
  align-self: flex-start;
  border-radius: 8px 8px 8px 8px;
  padding: 0.6rem;
  position: relative;
  word-wrap: break-word;
  max-width: 75%;
}

.chat-pics {
  max-width: 22rem;
  max-height: 17rem;
  object-fit: contain;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.media-chat-content {
  max-width: 23.1rem;
}

.media-response {
  display: flex;
  flex-direction: column;
}

.multi-media-response {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.multi-chat-pics {
  width: 9rem;
  height: 8rem;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  margin: 0.25rem;
}

.more-media-box {
  width: 9rem;
  height: 8rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.25rem;
  background-image: url('../../public/assets/images/pics5.jpeg');
  background-size: cover;
  color: white;
  font-family: var(--general-font);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.more-media-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 9rem;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  border-radius: 5px;
}

.thread-media-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  flex-shrink: 0;
  transform: translateY(3px);
}

.thread-files-icon {
  width: 0.85rem;
  height: 0.85rem;
  margin-right: 0.5rem;
  flex-shrink: 0;
  transform: translateY(1px);
}

.chat-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  padding: 0.8rem;
  z-index: 3;
}

.attachment-icon {
  color: gray;
  width: 1.5em;
  height: 1.5rem;
  cursor: pointer;
}

.chat-input-box {
  display: flex;
  width: 51%;
  margin-left: 1rem;
}

.chat-input {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.404);
  outline: none;
  padding: 0.7rem;
  border-radius: 8px 0 0 8px;
  color: black;
  font-family: var(--general-font);
  font-size: 1.05rem;
  resize: none;
}

.send-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: orange;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background 0.2s;
}

.send-icon-box:hover {
  background: black;
}

.send-icon {
  width: 1.1rem;
  height: 1.1rem;
  color: white;
}

.move-down-box {
  position: fixed;
  z-index: 3;
  bottom: 15%;
  right: 2%;
  background: white;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 1px 1px 10px -4px black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
  display: none;
}

.move-down-box:hover {
  background: #dcdcdc;
}

.move-down-arrow {
  width: 1.7rem;
  height: 1.7rem;
}

.file-response {
  display: flex;
  flex-direction: column;
}

.file-container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.file-box {
  display: flex;
  margin-top: 0.2rem;
}

.file-icon {
  width: 2rem;
  height: 2rem;
  color: blue;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.file-details {
  display: flex;
  flex-direction: column;
}

.file-name {
  font-size: 1.05rem;
  margin: 0.1rem 0 0.08rem;
  word-break: break-all;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.file-size {
  font-size: 0.9rem;
  font-variant: small-caps;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.file-download-btn {
  outline: none;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.02rem;
  transition: opacity 0.2s;
}

.file-download-btn:hover {
  opacity: 0.8;
}

.back-arrow-box {
  align-items: center;
  justify-content: center;
  margin-right: 0.6rem;
  font-weight: 900;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  display: none;
  background: white;
  transition: background 0.2s;
}

.back-arrow {
  width: 1.5rem;
  height: 1.5rem;
  color: gray;
}

.back-arrow-box:hover {
  background: #dcdcdc;
}

/* Media Queries */

@media screen and (max-width: 1174px) {
  .chat-input-box {
    width: 48.5%;
  }
}

@media screen and (max-width: 1099px) {
  .chat-input-box {
    width: 59.5%;
  }
}

@media screen and (max-width: 999px) {
  .chat-input-box {
    width: 57%;
  }

  .chat-pics {
    max-width: 20rem;
  }

  .media-chat-content {
    max-width: 21.1rem;
  }

  .multi-chat-pics {
    width: 8.5rem;
    height: 7.5rem;
  }

  .more-media-box {
    width: 8.5rem;
    height: 7.5rem;
  }

  .more-media-box::after {
    width: 8.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 899px) {
  .chat-input-box {
    width: 56.5%;
  }
}

@media screen and (max-width: 799px) {
  .chat-input-box {
    width: 94%;
  }

  .chat-input-container {
    padding: 0.8rem 1.5rem;
  }
  .back-arrow-box {
    display: flex;
  }

  .contact-head {
    padding: 0.75rem 1.5rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 599px) {
  .chat-input-box {
    width: 90%;
  }

  .chat-input-container {
    padding: 0.8rem 1rem;
  }

  .owner-chat-content,
  .others-chat-content,
  .others-chat-content2 {
    max-width: 80%;
  }

  .media-chat-content {
    max-width: 21.1rem;
  }
}

@media screen and (max-width: 499px) {
  .chat-response {
    font-weight: 500;
    font-size: 1rem;
  }

  .chat-pics {
    max-width: 18rem;
    max-height: 15rem;
  }

  .multi-chat-pics {
    width: 7.5rem;
    height: 6.5rem;
  }

  .more-media-box {
    width: 7.5rem;
    height: 6.5rem;
    font-size: 1.5rem;
  }

  .more-media-box::after {
    width: 7.5rem;
    height: 6.5rem;
  }

  .owner-chat-content,
  .others-chat-content,
  .others-chat-content2 {
    max-width: 95%;
  }

  .contact-head {
    padding: 0.75rem 0.75rem;
    padding-left: 0.5rem;
  }

  .back-arrow-box {
    margin-right: 0.4rem;
  }

  .media-chat-content {
    max-width: 19.1rem;
  }
}

@media screen and (max-width: 399px) {
  .chat-pics {
    max-width: 15rem;
    max-height: 14rem;
  }

  .multi-chat-pics {
    width: 6.5rem;
    height: 5.5rem;
  }

  .more-media-box {
    width: 6.5rem;
    height: 5.5rem;
  }

  .more-media-box::after {
    width: 6.5rem;
    height: 5.5rem;
  }

  .owner-chat-content,
  .others-chat-content,
  .others-chat-content2 {
    max-width: 100%;
  }

  .media-chat-content {
    max-width: 16.1rem;
  }

  .back-arrow-box {
    margin-right: 0.3rem;
  }

  .search-div {
    padding: 0.5rem;
  }

  .chat-search-icon {
    width: 0.9rem;
    height: 0.9rem;
  }

  .back-arrow {
    width: 1.2rem;
    height: 1.2rem;
    color: gray;
  }

  .profile-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .chat-name {
    font-size: 1rem;
  }

  .last-time-seen {
    font-size: 0.8rem;
  }
  .chat-input-box {
    margin-left: 0.8rem;
  }
}

@media screen and (max-width: 329px) {
  .profile-img {
    width: 2.25rem;
    height: 2.25rem;
  }

  .profile-img-box {
    margin-right: 0.75rem;
  }

  .contact-head {
    padding: 0.75rem 0.75rem;
    padding-left: 0.25rem;
  }

  .back-arrow-box {
    margin-right: 0.2rem;
  }

  .last-time-seen {
    font-size: 0.75rem;
  }

  .chat-container {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 299px) {
  .chat-pics {
    max-width: 13rem;
    max-height: 12rem;
  }

  .media-chat-content {
    max-width: 14.1rem;
  }

  .multi-chat-pics {
    width: 5rem;
    height: 4rem;
  }

  .more-media-box {
    width: 5rem;
    height: 4rem;
  }

  .more-media-box::after {
    width: 5rem;
    height: 4rem;
  }
}
