.main {
  display: flex;
}
.nav {
  width: 17%;
  position: fixed;
  left: 0;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  position: fixed;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(5px);
  width: 83%;
}

.page {
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: orange;
}

.search-box {
  margin-left: 3rem;
  position: relative;
}

.search {
  outline: none;
  width: 25rem;
  border-radius: 20px;
  padding: 0.8rem;
  padding-left: 2.5rem;
  border: 1px solid gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.05rem;
  opacity: 0.7;
  padding-right: 2.5rem;
}

.search-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
}

.cancel-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  right: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.show-cancel-icon {
  display: inline;
}

.search-box ::placeholder {
  color: black;
  opacity: 0.9;
  font-family: calligraphy;
  font-size: 1.08rem;
}

.icon-div {
  display: flex;
  margin: 0 2rem;
  align-items: center;
}

.icon-container {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

.notification-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.icon-container:nth-child(2) {
  padding: 0.45rem;
}

.chat-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: gray;
}

.profile-div {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 1px solid orange;
  cursor: pointer;
}

.profile-box {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  align-items: flex-end;
}

.profile-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.profile-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: 0.95rem;
}

.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  position: fixed;
  width: 17%;
  z-index: 3;
  backdrop-filter: blur(5px);
}

.icon-box {
  background: orange;
  border-radius: 10px;
  padding: 0.4rem;
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}

.head-text {
  color: black;
  font-family: protestRiot;
  font-size: 1.5rem;
  transform: translateY(4px);
}

.side-nav {
  list-style-type: none;
  margin-top: 5.3rem;
  padding-top: 2.7rem;
  height: calc(100vh - 8rem);
  overflow: auto;
}

.side-nav-item {
  margin-bottom: 1.25rem;
  padding: 0.25rem 1rem;
  padding-left: 1.5rem;
}

.side-nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.05rem;
  transition: color 0.3s, font-weight 0.3s;
}

.side-nav-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: gray;
  transition: fill 0.3s;
}

.side-nav-link:hover,
.side-nav-link:hover .side-nav-icon {
  color: orange;
  fill: orange;
  font-weight: bold;
}

.chats {
  border-right: 2px solid orange;
}

.chats-link {
  color: orange;
}

.chats-icon {
  fill: orange;
}

.chats-link:hover {
  font-weight: 500;
}

.responsive-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  animation: showNav 0.2s linear 0s;
}

.show-nav {
  display: block;
}

.responsive-section {
  background: white;
  height: 100%;
  width: 20%;
  overflow: auto;
}

.responsive-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  width: auto;
  margin-top: 1rem;
}

.responsive-side-nav {
  list-style-type: none;
  padding-top: 2.5rem;
  height: auto;
  overflow: auto;
}

.menu-icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.menu-icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: gray;
  transform: translateY(2px);
}

.menu-icon-box:hover {
  opacity: 0.7;
}

.alternate-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.alternate-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
}

.notifications {
  display: none;
}

.contacts-section {
  width: 33%;
  border-right: 1px solid rgba(128, 128, 128, 0.404);
  overflow: auto;
}

.contacts-section-head {
  display: flex;
  font-family: var(--general-font);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.private-head,
.groups-head {
  padding: 1rem;
  width: 50%;
  cursor: pointer;
  font-size: 1.05rem;
  background: white;
  color: gray;
  transition: background 0.3s;
  font-weight: bold;
  border-bottom: 2px solid rgba(128, 128, 128, 0.404);
  display: flex;
  align-items: center;
  justify-content: center;
}

.private-head:hover,
.groups-head:hover {
  background: #dcdcdc;
}

.current-contact-head {
  font-weight: bold;
  border-bottom: 2px solid orange;
  color: black;
}

.contacts-head-icon {
  width: 1.05rem;
  height: 1.05rem;
  margin-right: 0.3rem;
}

.contacts-list {
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.contacts-box {
  display: flex;
  padding: 0.5rem 1rem;
  /* align-items: center; */
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0.7rem;
}

.contacts-box:hover {
  background: #dcdcdc;
}

.contacts-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  position: relative;
}

.contacts-img {
  width: 2.9rem;
  height: 2.9rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid transparent;
}

.online {
  border: 2px solid orange;
  padding: 0.1rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.contact-name {
  font-family: var(--general-font);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: 0.2rem;
}

.last-message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--general-font);
  color: gray;
  font-weight: 600;
  font-size: 0.95rem;
}

.contact-extra {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.message-time {
  font-family: var(--general-font);
  color: gray;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.unread-message-time {
  color: orange;
}

.message-number {
  font-family: var(--general-font);
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
  align-self: flex-end;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  padding: 0.4rem;
}

.message-length {
  transform: translateY(-1px);
}

.message-status-icon {
  width: 1.05rem;
  height: 1.05rem;
  vertical-align: -3px;
  margin-right: 0.1rem;
}

.message-status-icon2 {
  width: 0.9rem;
  height: 0.9rem;
  vertical-align: -3px;
  margin-right: 0.1rem;
}

.message-status-icon3 {
  color: #0096ff;
}

.chats-section {
  width: 67%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-chat-box {
  font-family: var(--general-font);
  color: gray;
  font-weight: 600;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  display: flex;
}

.hide-empty-text {
  display: none;
}

.empty-chat-logo {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Queries */

@media screen and (min-width: 1100px) {
  .responsive-nav {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .contacts-box {
    padding: 0.5rem 0.8rem;
  }
  .contact-details {
    width: 55%;
  }
}

@media screen and (max-width: 1174px) {
  .search {
    width: 22rem;
  }

  .contacts-section {
    width: 35%;
  }

  .chats-section {
    width: 65%;
  }
}

@media screen and (max-width: 1099px) {
  .responsive-section {
    width: 25%;
  }

  .section-content {
    margin-top: 5.9rem;
  }

  .nav {
    display: none;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .header {
    width: 100%;
    padding: 1.5rem 1.8rem;
    padding-left: 1.2rem;
  }

  .menu-icon-box {
    display: flex;
  }

  .contacts-box {
    padding: 0.5rem 1rem;
  }

  .contact-details {
    width: 60%;
  }

  .chats-section {
    width: 65%;
  }
  .contacts-section {
    width: 35%;
  }
}

@media screen and (max-width: 999px) {
  .responsive-section {
    width: 28%;
  }

  .icon-div {
    display: none;
  }

  .notifications {
    display: block;
  }

  .contacts-box {
    padding: 0.5rem 0.8rem;
  }
  .contact-details {
    width: 55%;
  }
  .chats-section {
    width: 63%;
  }
  .contacts-section {
    width: 37%;
  }
}

@media screen and (max-width: 899px) {
  .responsive-section {
    width: 32%;
  }

  .search {
    width: 20rem;
  }

  .contacts-list {
    padding: 0 0.25rem;
  }

  .contacts-box {
    padding: 0.5rem 0.7rem;
  }

  .contact-details {
    width: 50%;
  }

  .empty-chat-box {
    font-size: 1.025rem;
  }
}

@media screen and (max-width: 799px) {
  .responsive-section {
    width: 35%;
  }
  .search-box {
    margin-left: 2rem;
  }

  .search {
    width: 18rem;
  }

  .contacts-section {
    /* display: none; */
    width: 100%;
  }

  .chats-section {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  .responsive-section {
    width: 40%;
  }
  .profile-box {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .responsive-section {
    width: 47%;
  }
  .search {
    width: 13rem;
  }
}

@media screen and (max-width: 499px) {
  .responsive-section {
    width: 54%;
  }
  .search-box {
    display: none;
  }

  .menu-icon-box {
    margin-right: 0.8rem;
  }

  .alternate-search-box {
    display: flex;
  }
}

@media screen and (max-width: 399px) {
  .responsive-section {
    width: 65%;
  }
  .alternate-search-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .alternate-search-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: gray;
  }
}

@media screen and (max-width: 329px) {
  .responsive-section {
    width: 70%;
  }
}

@media screen and (max-width: 299px) {
  .responsive-section {
    width: 80%;
  }
  .alternate-search-box {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .menu-icon-box {
    margin-right: 0.3rem;
  }
}
