.main {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
}

.contacts-section {
  width: 33%;
  border-right: 1px solid rgba(128, 128, 128, 0.404);
  overflow: auto;
}

.contacts-section-head {
  display: flex;
  font-family: var(--general-font);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.hide-contacts-section {
  display: none;
}

.private-head,
.groups-head {
  padding: 1rem;
  width: 50%;
  cursor: pointer;
  font-size: 1.05rem;
  background: white;
  color: gray;
  transition: background 0.3s;
  font-weight: bold;
  border-bottom: 2px solid rgba(128, 128, 128, 0.404);
  display: flex;
  align-items: center;
  justify-content: center;
}

.private-head:hover,
.groups-head:hover {
  background: #dcdcdc;
}

.current-contact-head {
  font-weight: bold;
  border-bottom: 2px solid orange;
  color: black;
}

.contacts-head-icon {
  width: 1.05rem;
  height: 1.05rem;
  margin-right: 0.3rem;
}

.contacts-list {
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.contacts-box {
  display: flex;
  padding: 0.5rem 1rem;
  /* align-items: center; */
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0.7rem;
}

.contacts-box:hover {
  background: #dcdcdc;
}

.contacts-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  position: relative;
}

.contacts-img {
  width: 2.9rem;
  height: 2.9rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid transparent;
}

.online {
  border: 2px solid orange;
  padding: 0.1rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.contact-name {
  font-family: var(--general-font);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: 0.2rem;
}

.last-message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--general-font);
  color: gray;
  font-weight: 600;
  font-size: 0.95rem;
}

.contact-extra {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.message-time {
  font-family: var(--general-font);
  color: gray;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.unread-message-time {
  color: orange;
}

.message-number {
  font-family: var(--general-font);
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
  align-self: flex-end;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  padding: 0.4rem;
}

.message-length {
  transform: translateY(-1px);
}

.message-status-icon {
  width: 1.05rem;
  height: 1.05rem;
  vertical-align: -3px;
  margin-right: 0.1rem;
}

.message-status-icon2 {
  width: 0.9rem;
  height: 0.9rem;
  vertical-align: -3px;
  margin-right: 0.1rem;
}

.message-status-icon3 {
  color: #0096ff;
}

.chats-section {
  width: 67%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-chat-box {
  font-family: var(--general-font);
  color: gray;
  font-weight: 600;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  display: flex;
}

.hide-empty-text {
  display: none;
}

.empty-chat-logo {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.show-chats {
  display: flex !important;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Queries */

@media screen and (min-width: 800px) {
  .contacts-section {
    display: block;
  }
}

@media screen and (max-width: 1250px) {
  .contacts-box {
    padding: 0.5rem 0.8rem;
  }
  .contact-details {
    width: 55%;
  }
}

@media screen and (max-width: 1174px) {
  .contacts-section {
    width: 35%;
  }

  .chats-section {
    width: 65%;
  }
}

@media screen and (max-width: 1099px) {
  .section-content {
    margin-top: 5.9rem;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .contacts-box {
    padding: 0.5rem 1rem;
  }

  .contact-details {
    width: 60%;
  }

  .chats-section {
    width: 65%;
  }
  .contacts-section {
    width: 35%;
  }
}

@media screen and (max-width: 999px) {
  .contacts-box {
    padding: 0.5rem 0.8rem;
  }
  .contact-details {
    width: 55%;
  }
  .chats-section {
    width: 63%;
  }
  .contacts-section {
    width: 37%;
  }
}

@media screen and (max-width: 899px) {
  .contacts-list {
    padding: 0 0.25rem;
  }

  .contacts-box {
    padding: 0.5rem 0.7rem;
  }

  .contact-details {
    width: 50%;
  }

  .empty-chat-box {
    font-size: 1.025rem;
  }
}

@media screen and (max-width: 799px) {
  .contacts-section {
    width: 100%;
    border-right: none;
  }

  .chats-section {
    display: none;
    width: 100%;
  }

  .contacts-list {
    padding: 0 1rem;
  }

  .contacts-box {
    padding: 0.5rem 1rem;
  }

  .contact-details {
    width: 77%;
  }
}

@media screen and (max-width: 699px) {
  .contact-details {
    width: 72.5%;
  }
}

@media screen and (max-width: 599px) {
  .contacts-list {
    padding: 0 0.5rem;
  }

  .contacts-box {
    padding: 0.5rem 1rem;
  }

  .contact-details {
    width: 67%;
  }
}

@media screen and (max-width: 499px) {
  .contacts-list {
    padding: 0 0.35rem;
  }

  .contacts-box {
    padding: 0.5rem 0.8rem;
  }

  .contact-details {
    width: 60%;
  }
}

@media screen and (max-width: 399px) {
  .contact-details {
    width: 55%;
  }
}

@media screen and (max-width: 329px) {
  .contacts-list {
    padding: 0 0.3rem;
  }

  .contacts-box {
    padding: 0.3rem 0.7rem;
  }

  .contact-details {
    width: 47%;
  }
}
