.section {
  margin-left: 25vw;
  overflow: auto;
  overflow-x: hidden;
  padding: 2rem 1.5rem 2.5rem;
}

.section-head {
  font-family: var(--general-font);
  font-size: 1.3rem;
}

.form {
  margin-top: 2rem;
  font-family: var(--general-font);
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-label {
  color: gray;
  font-size: 1.05rem;
  font-weight: 600;
}

.form-input {
  margin-top: 0.75rem;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1.02rem;
  width: 22rem;
  background: #fffafa;
}

.form-input:focus {
  border: 1px solid orange;
}

.submit-btn {
  outline: none;
  border: 2px solid orange;
  background: orange;
  color: white;
  padding: 0.6rem 0.6rem;
  font-family: var(--general-font);
  border-radius: 8px;
  font-size: 1.01rem;
  margin-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  opacity: 0.6;
  pointer-events: none;
}

.reset-btn {
  outline: none;
  border: 2px solid orange;
  background: white;
  margin-top: 1rem;
  color: orange;
  padding: 0.6rem 0.6rem;
  font-family: var(--general-font);
  border-radius: 8px;
  font-size: 1.01rem;
  cursor: pointer;
  opacity: 0.6;
  pointer-events: none;
}

.submit-btn:hover,
.reset-btn:hover {
  box-shadow: inset 1px 1px 4px -1px black;
}

.enable-btn {
  opacity: 1;
  pointer-events: all;
}

.input-box input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

.saving-icon {
  margin-right: 0.6rem;
  width: 1.05rem;
  height: 1.05rem;
  animation: rotate 1s linear 0s infinite normal both;
  vertical-align: -3px;
}

.disable-btn {
  opacity: 0.6 !important;
  pointer-events: none !important;
}

/* Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width: 1330px) {
  .form-input {
    width: 21rem;
  }
}

@media screen and (max-width: 1280px) {
  .form-input {
    width: 20rem;
  }
}

@media screen and (max-width: 1220px) {
  .form-input {
    width: 19rem;
  }
}

@media screen and (max-width: 1150px) {
  .form-input {
    width: 18rem;
  }
}

@media screen and (max-width: 1099px) {
  .section {
    margin-left: 30vw;
  }
  .form-input {
    width: 20rem;
  }
}

@media screen and (max-width: 999px) {
  .form-input {
    width: 17.5rem;
  }
}

@media screen and (max-width: 899px) {
  .section {
    margin-left: 35vw;
  }

  .form-input {
    width: 14.5rem;
  }
}

@media screen and (max-width: 799px) {
  .section {
    margin-left: 0;
  }

  .form-input {
    width: 20rem;
  }
}

@media screen and (max-width: 699px) {
  .form-input {
    width: 17rem;
  }
}

@media screen and (max-width: 599px) {
  .form-box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .input-box {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 1.8rem;
  }

  .input-label {
    width: 30%;
  }

  .form-input {
    width: 70%;
    margin-top: 0;
  }
}

@media screen and (max-width: 399px) {
  .input-box {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }

  .input-label {
    width: 100%;
  }

  .form-input {
    width: 100%;
    margin-top: 0.7rem;
  }
}

@media screen and (max-width: 329px) {
  .section {
    padding: 2rem 1rem 2.5rem;
  }
}
