:root {
  /* --toastify-color-light: orange;
  --toastify-color-dark: #121212;
  --toastify-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  --toastify-text-color-light: white;
  --toastify-text-color-dark: orange;
  --toastify-color-progress-light: white; */
  --general-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --toastify-color-light: white;
  --toastify-color-dark: #121212;
  --toastify-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  --toastify-text-color-light: orange;
  --toastify-text-color-dark: white;
  --toastify-color-progress-light: orange;
  --dark-theme-background: #252525;
  --dark-theme-color: rgb(255, 250, 250);
  --dark-theme-foreground: white;
  --dark-theme-text: #e0e0e0;
}

.dark-theme {
  background: var(--dark-theme-background);
}

@font-face {
  font-family: protestRiot;
  src: url('../../public/assets/fonts/ProtestRiot-Regular.ttf');
}

@font-face {
  font-family: calligraphy;
  src: url('../../public/assets/fonts/lucida-calligraphy-italic.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.auth-loader-box {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-loader-text {
  margin-top: 1.5rem;
  color: gray;
  font-size: 1.1rem;
  font-family: var(--general-font);
  font-weight: 500;
}
