.main {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 1rem 1rem 2rem;
}

.section-head {
  display: flex;
  justify-content: center;
}

.notification-container {
  margin-top: 1rem;
  padding: 0 1rem;
}

.article-container {
  margin-bottom: 2rem;
  overflow: hidden;
}

.article {
  background: white;
  box-shadow: 1px 1px 6px -4px black;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.icon-box {
  border: 1px solid orange;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: orange;
  width: 1.3rem;
  height: 1.3rem;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
}

.message {
  font-family: var(--general-font);
}

.link-text,
.bold-text {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

.accept-btn {
  outline: none;
  font-family: var(--general-font);
  background: orange;
  color: white;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decline-btn {
  outline: none;
  font-family: var(--general-font);
  background: gray;
  color: white;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.92rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accept-btn:hover,
.decline-btn:hover {
  opacity: 0.8;
}

.time {
  color: gray;
  font-weight: 600;
  font-family: monospace;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.select-box {
  margin-left: auto;
  display: none;
}

.checkbox {
  accent-color: orange;
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
  outline: none;
}

.article:hover .menu-box,
.article:hover .select-box {
  display: block;
}

.show-select-box {
  display: block;
}

.head {
  font-family: var(--general-font);
  margin-bottom: 1rem;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
}

.date-length {
  background: gray;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.7rem;
  cursor: pointer;
  flex-shrink: 0;
}

.notifications-loader-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.loader-margin {
  margin: 6rem 0;
}

.no-notifications-text {
  font-family: var(--general-font);
  color: gray;
  font-size: 1.15rem;
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.network-icon {
  margin-right: 0.7rem;
  transform: translateY(2px);
}

.container-checkbox {
  accent-color: orange;
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1rem;
  outline: none;
}

.select-container {
  position: fixed;
  z-index: 4;
  background: white;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem 2rem;
  width: 83%;
  margin-left: 17%;
  display: flex;
  align-items: center;
}

.cancel-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.8);
  transition: background 0.3s, color 0.25s;
}

.cancel-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.cancel-box:hover {
  background: orange;
  color: white;
}

.select-length-txt {
  margin-left: 1.5rem;
  color: black;
  font-family: var(--general-font);
  font-size: 1.05rem;
  font-weight: 500;
}

.delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.delete-notification-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-notification-btn {
  outline: none;
  border: 1px solid orange;
  border-radius: 100px;
  color: orange;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  background: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.delete-notification-btn:hover {
  background: rgba(227, 227, 227, 0.2);
}

.select-all-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 3rem;
  cursor: pointer;
}

.select-all-icon2 {
  fill: orange;
}

.disable-delete-btn {
  opacity: 0.6 !important;
  pointer-events: none;
}

.deleting-icon {
  margin-right: 0.5rem;
  width: 1.05rem;
  height: 1.05rem;
  animation: rotate 1s linear 0s infinite normal both;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width: 1174px) {
  .search {
    width: 22rem;
  }
}

@media screen and (max-width: 1099px) {
  .responsive-section {
    width: 25%;
  }

  .section-content {
    margin-top: 5.9rem;
  }

  .nav {
    display: none;
  }

  .section,
  .select-container {
    width: 100%;
    margin-left: 0;
  }

  .header {
    width: 100%;
    padding: 1.5rem 1.8rem;
    padding-left: 1.2rem;
  }

  .menu-icon-box {
    display: flex;
  }
}

@media screen and (max-width: 999px) {
  .responsive-section {
    width: 28%;
  }

  .icon-div {
    display: none;
  }

  .notifications {
    display: block;
  }
}

@media screen and (max-width: 899px) {
  .responsive-section {
    width: 32%;
  }

  .search {
    width: 20rem;
  }
}

@media screen and (max-width: 799px) {
  .responsive-section {
    width: 35%;
  }
  .search-box {
    margin-left: 2rem;
  }

  .search {
    width: 18rem;
  }

  .section-content {
    padding: 1rem 0.5rem 2rem;
  }

  .notification-img {
    width: 3rem;
    height: 3rem;
  }

  .content-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 699px) {
  .responsive-section {
    width: 40%;
  }
  .profile-box {
    display: none;
  }
  .section-content {
    padding: 1rem 0 2rem;
  }

  .notification-box {
    padding: 0.7rem 1rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 599px) {
  .responsive-section {
    width: 47%;
  }
  .search {
    width: 13rem;
  }

  .notification-img {
    display: none;
  }
  .content-icon {
    margin-right: 0.75rem;
    width: 1.3rem;
    height: 1.3rem;
    transform: translateY(0.3rem);
  }
}

@media screen and (max-width: 499px) {
  .responsive-section {
    width: 54%;
  }
  .search-box {
    display: none;
  }

  .menu-icon-box {
    margin-right: 0.8rem;
  }

  .alternate-search-box {
    display: flex;
  }

  .notification-text {
    font-size: 1.03rem;
  }
  .content-name {
    font-size: 1.02rem;
  }

  .notification-time {
    font-size: 0.95rem;
  }

  .important-text {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 399px) {
  .responsive-section {
    width: 65%;
  }
  .alternate-search-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .alternate-search-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: gray;
  }

  .content-icon {
    display: none;
  }

  .notification-container {
    padding: 0 0.5rem;
  }

  .article-head {
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 329px) {
  .responsive-section {
    width: 70%;
  }
  .alternate-search-box {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .project-btn,
  .decline-btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.85rem;
  }
  .menu-icon-box {
    margin-right: 0.3rem;
  }

  .profile-picture {
    width: 2.5rem;
    height: 2.5rem;
  }

  .alternate-search-box {
    padding: 0.5rem;
  }
  .alternate-search-icon {
    width: 1rem;
    height: 1rem;
    fill: gray;
  }
}

@media screen and (max-width: 299px) {
  .responsive-section {
    width: 80%;
  }
}
