.main {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 1rem 1rem 2rem;
}

.section-head {
  display: flex;
  justify-content: center;
}

.notification-container {
  margin-top: 1rem;
  padding: 0 1rem;
}

.article-container {
  margin-bottom: 2rem;
  overflow: hidden;
}

.article {
  background: white;
  box-shadow: 1px 1px 6px -4px black;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
  overflow: auto;
}

.icon-box {
  border: 1px solid orange;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: orange;
  width: 1.3rem;
  height: 1.3rem;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
}

.message {
  font-family: var(--general-font);
}

.link-text,
.bold-text {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

.accept-btn {
  outline: none;
  font-family: var(--general-font);
  background: orange;
  color: white;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decline-btn {
  outline: none;
  font-family: var(--general-font);
  background: gray;
  color: white;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.92rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accept-btn:hover,
.decline-btn:hover {
  opacity: 0.8;
}

.time {
  color: gray;
  font-weight: 600;
  font-family: monospace;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.select-box {
  margin-left: auto;
  display: none;
}

.checkbox {
  accent-color: orange;
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
  outline: none;
}

.article:hover .menu-box,
.article:hover .select-box {
  display: block;
}

.show-select-box {
  display: block;
}

.head {
  font-family: var(--general-font);
  margin-bottom: 1rem;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
  overflow: auto;
  width: 100%;
}

.date-length {
  background: gray;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.7rem;
  cursor: pointer;
  flex-shrink: 0;
}

.notifications-loader-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.loader-margin {
  margin: 6rem 0;
}

.no-notifications-text {
  font-family: var(--general-font);
  color: gray;
  font-size: 1.15rem;
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.network-icon {
  margin-right: 0.7rem;
  transform: translateY(2px);
}

.container-checkbox {
  accent-color: orange;
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1rem;
  outline: none;
  flex-shrink: 0;
}

.select-container {
  position: fixed;
  z-index: 4;
  background: white;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem 2rem;
  width: 83%;
  margin-left: 17%;
  display: flex;
  align-items: center;
}

.cancel-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.8);
  transition: background 0.3s, color 0.25s;
}

.cancel-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.cancel-box:hover {
  background: orange;
  color: white;
}

.select-length-txt {
  margin-left: 1.5rem;
  color: black;
  font-family: var(--general-font);
  font-size: 1.05rem;
  font-weight: 500;
}

.delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.delete-notification-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-notification-btn {
  outline: none;
  border: 1px solid orange;
  border-radius: 100px;
  color: orange;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  background: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.delete-notification-btn:hover {
  background: rgba(227, 227, 227, 0.2);
}

.select-all-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 3rem;
  cursor: pointer;
}

.select-all-icon2 {
  fill: orange;
}

.disable-delete-btn {
  opacity: 0.6 !important;
  pointer-events: none;
}

.deleting-icon {
  margin-right: 0.5rem;
  width: 1.05rem;
  height: 1.05rem;
  animation: rotate 1s linear 0s infinite normal both;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width: 1099px) {
  .section-content {
    margin-top: 5.9rem;
  }

  .section,
  .select-container {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 999px) {
}

@media screen and (max-width: 899px) {
}

@media screen and (max-width: 799px) {
  .section-content {
    padding: 1rem 0.5rem 2rem;
  }

  .select-container {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 699px) {
}

@media screen and (max-width: 599px) {
}

@media screen and (max-width: 499px) {
  .section-content {
    padding: 1rem 0 2rem;
  }

  .select-all-icon {
    margin-right: 2rem;
  }

  .select-container {
    padding-left: 0.65rem;
  }

  .icon-box {
    padding: 0.5rem;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .message {
    font-size: 0.95rem;
  }

  .head {
    font-size: 1rem;
  }

  .date-length {
    padding: 0.15rem 0.45rem;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 399px) {
  .select-all-icon {
    margin-right: 1rem;
  }

  .select-container {
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 335px) {
  .container-checkbox {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  .icon-box {
    padding: 0.4rem;
  }

  .icon {
    width: 1.1rem;
    height: 1.1rem;
  }

  .arrow {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.4rem;
  }

  .select-length-txt {
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  .delete-notification-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .select-all-icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  .cancel-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 299px) {
}
