.section {
  margin-left: 25vw;
  overflow: auto;
  overflow-x: hidden;
  padding: 2rem 1.5rem 2.5rem;
}

.section-head {
  font-family: var(--general-font);
  font-size: 1.3rem;
}

.list {
  list-style-type: none;
  margin-top: 2.5rem;
  padding: 0 1rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  font-family: var(--general-font);
  align-items: flex-start;
  margin-bottom: 2rem;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-head {
  font-weight: 600;
  font-size: 1.1rem;
}

.item-text {
  margin-top: 0.5rem;
  color: gray;
  font-weight: 600;
  font-size: 1.03rem;
}

.item-checkbox {
  cursor: pointer;
  accent-color: orange;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 2rem;
  flex-shrink: 0;
}

.save-btn {
  outline: none;
  border: 2px solid orange;
  background: orange;
  color: white;
  padding: 0.4rem 0.6rem;
  font-family: var(--general-font);
  border-radius: 5px;
  font-size: 1.01rem;
  cursor: pointer;
  margin-left: 1rem;
  pointer-events: none;
  opacity: 0.6;
}

.reset-btn {
  outline: none;
  border: 2px solid orange;
  background: white;
  color: orange;
  padding: 0.4rem 0.6rem;
  font-family: var(--general-font);
  border-radius: 5px;
  font-size: 1.01rem;
  cursor: pointer;
  margin-left: 1rem;
  pointer-events: none;
  opacity: 0.6;
}

.save-btn:hover,
.reset-btn:hover {
  box-shadow: inset 1px 1px 4px -1px black;
}

.enable-btn {
  opacity: 1;
  pointer-events: all;
}

/* Media Queries */

@media screen and (max-width: 1099px) {
  .section {
    margin-left: 30vw;
  }
}

@media screen and (max-width: 899px) {
  .section {
    margin-left: 35vw;
  }

  .list {
    padding: 0;
  }
}

@media screen and (max-width: 799px) {
  .section {
    margin-left: 0;
  }

  .list {
    padding: 0 1rem;
  }
}
