.main {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 1rem 1rem 2rem;
}

.section-head {
  display: flex;
  justify-content: center;
}

.notification-container {
  margin-top: 1rem;
  padding: 0 1rem;
}

.article-container {
  margin-bottom: 3rem;
}

.article {
  background: white;
  box-shadow: 1px 1px 6px -4px black;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.icon-box {
  border: 1px solid orange;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: orange;
  width: 1.3rem;
  height: 1.3rem;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
}

.message {
  font-family: var(--general-font);
}

.link-text,
.bold-text {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

.accept-btn {
  outline: none;
  font-family: var(--general-font);
  background: orange;
  color: white;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
}

.decline-btn {
  outline: none;
  font-family: var(--general-font);
  background: gray;
  color: white;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.92rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-left: 1rem;
}

.accept-btn:hover,
.decline-btn:hover {
  opacity: 0.8;
}

.time {
  color: gray;
  font-weight: 600;
  font-family: monospace;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.menu-box {
  margin-left: auto;
  position: relative;
  padding: 0;
  display: none;
}

.menu-icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.action-list {
  position: absolute;
  background: white;
  box-shadow: 1px 1px 6px -3px black;
  border-radius: 5px;
  list-style-type: none;
  right: -10%;
  top: 80%;
  display: none;
  z-index: 2;
}

.menu-box:hover .action-list {
  display: block;
}

.action-item {
  padding: 0.5rem 1.5rem;
  padding-left: 1rem;
  font-family: var(--general-font);
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
}

.view-link {
  display: flex;
  padding: 0.5rem 1.5rem;
  padding-left: 1rem;
  font-family: var(--general-font);
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.view-link {
  border-radius: 5px 5px 0 0;
}

.action-item {
  border-radius: 0 0 5px 5px;
}

.action-item:hover,
.view-link:hover {
  background: rgba(128, 128, 128, 0.185);
}

.select-box {
  margin-left: auto;
  display: none;
}

.checkbox {
  accent-color: orange;
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
}

.article:hover .menu-box,
.article:hover .select-box {
  display: block;
}

.head {
  font-family: var(--general-font);
  margin-bottom: 1rem;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
}

.date-length {
  background: gray;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.7rem;
  cursor: pointer;
}

.slide-up {
  animation: slideDown 0.3s ease-in-out 0s 1 alternate both;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideDown {
  from {
    height: 500px;
  }
  to {
    height: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 1174px) {
  .search {
    width: 22rem;
  }
}

@media screen and (max-width: 1099px) {
  .responsive-section {
    width: 25%;
  }

  .section-content {
    margin-top: 5.9rem;
  }

  .nav {
    display: none;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .header {
    width: 100%;
    padding: 1.5rem 1.8rem;
    padding-left: 1.2rem;
  }

  .menu-icon-box {
    display: flex;
  }
}

@media screen and (max-width: 999px) {
  .responsive-section {
    width: 28%;
  }

  .icon-div {
    display: none;
  }

  .notifications {
    display: block;
  }
}

@media screen and (max-width: 899px) {
  .responsive-section {
    width: 32%;
  }

  .search {
    width: 20rem;
  }
}

@media screen and (max-width: 799px) {
  .responsive-section {
    width: 35%;
  }
  .search-box {
    margin-left: 2rem;
  }

  .search {
    width: 18rem;
  }

  .section-content {
    padding: 1rem 0.5rem 2rem;
  }

  .notification-img {
    width: 3rem;
    height: 3rem;
  }

  .content-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 699px) {
  .responsive-section {
    width: 40%;
  }
  .profile-box {
    display: none;
  }
  .section-content {
    padding: 1rem 0 2rem;
  }

  .notification-box {
    padding: 0.7rem 1rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 599px) {
  .responsive-section {
    width: 47%;
  }
  .search {
    width: 13rem;
  }

  .notification-img {
    display: none;
  }
  .content-icon {
    margin-right: 0.75rem;
    width: 1.3rem;
    height: 1.3rem;
    transform: translateY(0.3rem);
  }
}

@media screen and (max-width: 499px) {
  .responsive-section {
    width: 54%;
  }
  .search-box {
    display: none;
  }

  .menu-icon-box {
    margin-right: 0.8rem;
  }

  .alternate-search-box {
    display: flex;
  }

  .notification-text {
    font-size: 1.03rem;
  }
  .content-name {
    font-size: 1.02rem;
  }

  .notification-time {
    font-size: 0.95rem;
  }

  .important-text {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 399px) {
  .responsive-section {
    width: 65%;
  }
  .alternate-search-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .alternate-search-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: gray;
  }

  .content-icon {
    display: none;
  }

  .notification-container {
    padding: 0 0.5rem;
  }

  .article-head {
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 329px) {
  .responsive-section {
    width: 70%;
  }
  .alternate-search-box {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .project-btn,
  .decline-btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.85rem;
  }
  .menu-icon-box {
    margin-right: 0.3rem;
  }

  .profile-picture {
    width: 2.5rem;
    height: 2.5rem;
  }

  .alternate-search-box {
    padding: 0.5rem;
  }
  .alternate-search-icon {
    width: 1rem;
    height: 1rem;
    fill: gray;
  }
}

@media screen and (max-width: 299px) {
  .responsive-section {
    width: 80%;
  }
}
