.section {
  margin-left: 25vw;
  overflow: auto;
  overflow-x: hidden;
  padding: 2rem 1.5rem 2.5rem;
}

.section-head {
  font-family: var(--general-font);
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.option-div {
  margin-top: 2rem;
}

.option-head {
  font-family: var(--general-font);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.theme-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  position: relative;
}

.theme-img {
  width: 9rem;
  height: 7rem;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid gray;
}

.theme-img:hover {
  box-shadow: 1px 1px 8px -3px black;
}

.theme-type {
  font-family: var(--general-font);
  color: gray;
  font-weight: 700;
  font-size: 1.02rem;
  margin-top: 1rem;
}

.current-theme {
  border: 2px solid orange;
}

.current-theme:hover {
  box-shadow: none;
}

.radio {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: orange;
  position: absolute;
  bottom: 32%;
  right: 7%;
  outline: none;
  display: none;
}

.show-theme-radio {
  display: block;
}

.view-div,
.color-div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.view-box,
.color-box {
  display: flex;
  align-items: center;
  font-family: var(--general-font);
  font-weight: 700;
  color: gray;
  margin-bottom: 0.5rem;
}

.color-box {
  margin-bottom: 1rem;
}

.view-box:nth-child(2),
.color-box:nth-child(3) {
  margin-bottom: 0;
}

.view-radio {
  width: 1rem;
  height: 1rem;
  accent-color: orange;
  margin-right: 0.5rem;
  cursor: pointer;
  outline: none;
}

.color-input {
  margin-left: 1rem;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
}

.fields-div {
  margin-top: 1.7rem;
}

.field-input {
  outline: none;
  font-weight: 600;
  padding: 0.4rem;
  border-radius: 5px;
  border: 2px solid orange;
  width: 8rem;
  font-size: 1.02rem;
  margin-bottom: 0.7rem;
}

.new-field-input {
  outline: none;
  font-weight: 600;
  padding: 0.4rem;
  border-radius: 5px;
  border: 2px solid orange;
  width: 8rem;
  font-size: 1.02rem;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
}

.add-btn {
  border: none;
  outline: none;
  padding: 0.5rem 0.7rem;
  background: orange;
  color: white;
  font-size: 1.01rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  box-shadow: inset 1px 1px 4px -1px black;
}

.save-btn {
  outline: none;
  border: 2px solid orange;
  background: orange;
  color: white;
  padding: 0.4rem 0.6rem;
  font-family: var(--general-font);
  border-radius: 5px;
  font-size: 1.01rem;
  cursor: pointer;
  margin-top: 2rem;
  pointer-events: none;
  opacity: 0.6;
}

.save-btn:hover {
  box-shadow: inset 1px 1px 4px -1px black;
}

.description {
  font-family: var(--general-font);
  color: gray;
  font-weight: 700;
  margin-top: 0.5rem;
}

.input-box {
  position: relative;
  margin-right: 1rem;
}

.remove-box {
  position: absolute;
  top: -100%;
  right: -5%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  box-shadow: 1px 1px 8px -4px black;
  transition: background 0.2s;
}

.remove-icon {
  width: 1.2rem;
  height: 1.2rem;
}
.remove-box:hover {
  background: #dcdcdc;
}

.hide-new-field {
  display: none;
}

.disable-btn {
  opacity: 0.6 !important;
  pointer-events: none !important;
}

.reset-btn {
  outline: none;
  border: 2px solid orange;
  background: white;
  color: orange;
  padding: 0.4rem 0.6rem;
  font-family: var(--general-font);
  border-radius: 5px;
  font-size: 1.01rem;
  cursor: pointer;
  margin-left: 1rem;
  pointer-events: none;
  opacity: 0.6;
  margin-top: 2rem;
}

.save-btn:hover,
.reset-btn:hover {
  box-shadow: inset 1px 1px 4px -1px black;
}

.enable-btn {
  opacity: 1;
  pointer-events: all;
}

.saving-icon {
  margin-right: 0.6rem;
  width: 1.05rem;
  height: 1.05rem;
  animation: rotate 1s linear 0s infinite normal both;
  vertical-align: -3px;
}

/* Dark Mode */

.dark-text {
  color: var(--dark-theme-color);
}

.dark-word {
  color: var(--dark-theme-text);
}

.dark-input {
  color: var(--dark-theme-color);
  background: var(--dark-theme-background);
}

.dark-remove-box {
  background: var(--dark-theme-background);
  color: var(--dark-theme-color);
  box-shadow: 1px 1px 8px -4px black, 1px 1px 8px -6px white,
    -1px -1px 8px -6px white;
}

.dark-remove-box:hover {
  background: rgb(50, 50, 50);
}

/* Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width: 1099px) {
  .section {
    margin-left: 30vw;
  }
}

@media screen and (max-width: 899px) {
  .section {
    margin-left: 35vw;
  }

  .theme-img {
    width: 8rem;
    height: 6rem;
  }
}

@media screen and (max-width: 799px) {
  .section {
    margin-left: 0;
    padding: 2rem 2rem 2.5rem;
  }

  .theme-img {
    width: 9rem;
    height: 7rem;
  }
}

@media screen and (max-width: 599px) {
  .section {
    padding: 2rem 1.5rem 2.5rem;
  }

  .theme-container {
    flex-wrap: wrap;
  }

  .img-box {
    margin-bottom: 2rem;
  }

  .project-div-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 499px) {
  .theme-img {
    width: 8.5rem;
    height: 7rem;
  }
}

@media screen and (max-width: 399px) {
  .section {
    padding: 2rem 1.5rem 2.5rem;
    padding-right: 1rem;
  }

  .theme-img {
    width: 8rem;
    height: 6.5rem;
  }

  .img-box {
    margin-right: 1rem;
  }
}
