.main {
  display: flex;
}
.nav {
  width: 17%;
  position: fixed;
  left: 0;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  position: fixed;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(5px);
  width: 83%;
}

.page {
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: orange;
}

.search-box {
  margin-left: 3rem;
  position: relative;
}

.search {
  outline: none;
  width: 25rem;
  border-radius: 20px;
  padding: 0.8rem;
  padding-left: 2.5rem;
  border: 1px solid gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.05rem;
  opacity: 0.7;
  padding-right: 2.5rem;
}

.search-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
}

.cancel-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  right: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.show-cancel-icon {
  display: inline;
}

.search-box ::placeholder {
  color: black;
  opacity: 0.9;
  font-family: calligraphy;
  font-size: 1.08rem;
}

.icon-div {
  display: flex;
  margin: 0 2rem;
  align-items: center;
}

.icon-container {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

.notification-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.icon-container:nth-child(2) {
  padding: 0.45rem;
}

.chat-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: gray;
}

.profile-div {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 1px solid orange;
  cursor: pointer;
}

.profile-box {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  align-items: flex-end;
}

.profile-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.profile-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: 0.95rem;
}

.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  position: fixed;
  width: 17%;
  z-index: 3;
  backdrop-filter: blur(5px);
}

.icon-box {
  background: orange;
  border-radius: 10px;
  padding: 0.4rem;
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}

.head-text {
  color: black;
  font-family: protestRiot;
  font-size: 1.5rem;
  transform: translateY(4px);
}

.side-nav {
  list-style-type: none;
  margin-top: 5.3rem;
  padding-top: 2.7rem;
  height: calc(100vh - 8rem);
  overflow: auto;
}

.side-nav-item {
  margin-bottom: 1.25rem;
  padding: 0.25rem 1rem;
  padding-left: 1.5rem;
}

.side-nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.05rem;
  transition: color 0.3s, font-weight 0.3s;
}

.side-nav-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: gray;
  transition: fill 0.3s;
}

.side-nav-link:hover,
.side-nav-link:hover .side-nav-icon {
  color: orange;
  fill: orange;
  font-weight: bold;
}

.profile {
  border-right: 2px solid orange;
}

.profile-link {
  color: orange;
}

.profile-icon {
  fill: orange;
}

.profile-link:hover {
  font-weight: 500;
}

.responsive-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  animation: showNav 0.2s linear 0s;
}

.show-nav {
  display: block;
}

.responsive-section {
  background: white;
  height: 100%;
  width: 20%;
  overflow: auto;
}

.responsive-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  width: auto;
  margin-top: 1rem;
}

.responsive-side-nav {
  list-style-type: none;
  padding-top: 2.5rem;
  height: auto;
  overflow: auto;
}

.menu-icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.menu-icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: gray;
  transform: translateY(2px);
}

.menu-icon-box:hover {
  opacity: 0.7;
}

.alternate-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.alternate-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.notifications {
  display: none;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 2rem 1.5rem;
}

.profile-container {
  background: white;
  box-shadow: 1px 1px 10px -7px black;
  display: flex;
  justify-content: space-between;
  font-family: var(--general-font);
  padding: 1.5rem 0;
  position: relative;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-right: 2px dashed rgba(128, 128, 128, 0.404);
  padding: 0 1.5rem;
}

.profile-pics {
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border: 2px solid orange;
}

.username {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
  word-wrap: break-word;
  width: 100%;
}

.user-title {
  color: gray;
  font-weight: 600;
  font-size: 1.05rem;
  margin-top: 0.3rem;
  word-wrap: break-word;
  width: 100%;
}

.profile-btn-div {
  margin-top: 2rem;
}

.message-btn,
.group-btn {
  background: orange;
  color: white;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  font-family: var(--general-font);
  font-size: 1.02rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.message-btn {
  margin-right: 2rem;
}

.message-btn:hover,
.group-btn:hover {
  box-shadow: 1px 1px 10px -3px black;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 1.5rem;
}

.property-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.property-name {
  width: 30%;
  color: gray;
  font-weight: 700;
  font-size: 1.15rem;
  font-variant: small-caps;
}

.property-value {
  font-weight: 600;
  width: 70%;
  font-size: 1.05rem;
  word-wrap: break-word;
}

.edit-profile-link {
  position: absolute;
  right: 2%;
  top: 4%;
  background: #faebd7;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.edit-profile-link:active,
.edit-profile-link:visited {
  color: black;
}

.edit-profile-icon {
  width: 1.3rem;
  height: 1.3rem;
  transition: color 0.2s;
}

.edit-profile-link:hover .edit-profile-icon {
  color: orange;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Queries */

@media screen and (min-width: 1100px) {
  .responsive-nav {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1174px) {
  .search {
    width: 22rem;
  }

  .left-section {
    width: 45%;
  }
  .right-section {
    width: 55%;
  }

  .property-name {
    width: 35%;
  }

  .property-value {
    width: 65%;
  }
}

@media screen and (max-width: 1099px) {
  .responsive-section {
    width: 25%;
  }

  .section-content {
    margin-top: 5.9rem;
  }

  .nav {
    display: none;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .header {
    width: 100%;
    padding: 1.5rem 1.8rem;
    padding-left: 1.2rem;
  }

  .menu-icon-box {
    display: flex;
  }

  .left-section {
    width: 40%;
  }
  .right-section {
    width: 60%;
  }

  .property-name {
    width: 30%;
  }

  .property-value {
    width: 70%;
  }
}

@media screen and (max-width: 999px) {
  .responsive-section {
    width: 28%;
  }

  .icon-div {
    display: none;
  }

  .notifications {
    display: block;
  }
  .left-section {
    width: 45%;
  }
  .right-section {
    width: 55%;
  }

  .property-name {
    width: 40%;
  }

  .property-value {
    width: 60%;
  }
}

@media screen and (max-width: 899px) {
  .responsive-section {
    width: 32%;
  }

  .search {
    width: 20rem;
  }

  .left-section {
    width: 48%;
  }
  .right-section {
    width: 52%;
  }

  .property-name {
    width: 45%;
  }

  .property-value {
    width: 55%;
  }
  .profile-pics {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (max-width: 799px) {
  .responsive-section {
    width: 35%;
  }
  .search-box {
    margin-left: 2rem;
  }

  .search {
    width: 18rem;
  }
  .left-section {
    width: 50%;
    padding: 0 1rem;
  }
  .right-section {
    width: 50%;
    padding: 0 1rem;
  }

  .property-name {
    width: 50%;
  }

  .property-value {
    width: 50%;
  }
  .profile-pics {
    width: 15rem;
    height: 15rem;
  }
  .message-btn {
    margin-right: 1rem;
  }

  .edit-profile-link {
    padding: 0.5rem;
  }
  .edit-profile-icon {
    width: 1.15rem;
    height: 1.15rem;
  }
}

@media screen and (max-width: 699px) {
  .responsive-section {
    width: 40%;
  }
  .profile-box {
    display: none;
  }

  .profile-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
  }

  .left-section {
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 2px dashed rgba(128, 128, 128, 0.404);
    padding-bottom: 3rem;
    align-items: center;
  }

  .user-title,
  .username {
    text-align: center;
  }
  .right-section {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }

  .property-name {
    width: 33%;
  }

  .property-value {
    width: 67%;
  }
  .profile-pics {
    width: 16rem;
    height: 16rem;
  }
  .message-btn {
    margin-right: 2rem;
  }

  .edit-profile-link {
    right: 2.5%;
    top: 1.5%;
  }
  .property-box:last-child {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 599px) {
  .responsive-section {
    width: 47%;
  }
  .search {
    width: 13rem;
  }
  .property-name {
    width: 40%;
  }

  .property-value {
    width: 60%;
  }
}

@media screen and (max-width: 499px) {
  .responsive-section {
    width: 54%;
  }
  .search-box {
    display: none;
  }

  .menu-icon-box {
    margin-right: 0.8rem;
  }

  .alternate-search-box {
    display: flex;
  }

  .profile-pics {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 399px) {
  .responsive-section {
    width: 65%;
  }
  .alternate-search-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .alternate-search-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: gray;
  }

  .profile-pics {
    width: 14rem;
    height: 14rem;
  }
  .profile-container {
    padding: 1rem;
  }

  .message-btn,
  .group-btn {
    padding: 0.6rem;
    font-size: 1.01rem;
  }

  .message-btn {
    margin-right: 1rem;
  }

  .section-content {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 329px) {
  .responsive-section {
    width: 70%;
  }

  .profile-btn-div {
    display: flex;
    flex-direction: column;
  }

  .message-btn {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .message-btn,
  .group-btn {
    padding: 0.6rem 1rem;
    font-size: 1.02rem;
  }

  .property-name {
    font-size: 1.1rem;
  }

  .property-value {
    font-size: 1rem;
  }

  .profile-pics {
    width: 13rem;
    height: 13rem;
  }
}

@media screen and (max-width: 299px) {
  .responsive-section {
    width: 80%;
  }
  .alternate-search-box {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .menu-icon-box {
    margin-right: 0.3rem;
  }

  .profile-pics {
    width: 11rem;
    height: 11rem;
  }

  .property-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .property-name {
    margin-bottom: 0.2rem;
  }
}
