.main {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 2rem 1.5rem;
}

.profile-container {
  background: white;
  box-shadow: 1px 1px 10px -7px black;
  display: flex;
  justify-content: space-between;
  font-family: var(--general-font);
  padding: 1.5rem 0;
  position: relative;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-right: 2px dashed rgba(128, 128, 128, 0.404);
  padding: 0 1.5rem;
}

.profile-pics {
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border: 2px solid orange;
}

.username {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
  word-wrap: break-word;
  width: 100%;
  text-transform: capitalize;
}

.user-title {
  color: gray;
  font-weight: 600;
  font-size: 1.05rem;
  margin-top: 0.3rem;
  word-wrap: break-word;
  width: 100%;
}

.profile-btn-div {
  margin-top: 2rem;
}

.message-btn,
.group-btn {
  background: orange;
  color: white;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  font-family: var(--general-font);
  font-size: 1.02rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.message-btn {
  margin-right: 2rem;
}

.message-btn:hover,
.group-btn:hover {
  box-shadow: 1px 1px 10px -3px black;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 1.5rem;
}

.property-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.property-name {
  width: 30%;
  color: gray;
  font-weight: 700;
  font-size: 1.15rem;
  font-variant: small-caps;
}

.property-value {
  font-weight: 600;
  width: 70%;
  font-size: 1.05rem;
  word-wrap: break-word;
}

.edit-profile-link {
  position: absolute;
  right: 1%;
  top: 1%;
  background: #faebd7;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.edit-profile-link:active,
.edit-profile-link:visited {
  color: black;
}

.edit-profile-icon {
  width: 1.3rem;
  height: 1.3rem;
  transition: color 0.2s;
}

.edit-profile-link:hover .edit-profile-icon {
  color: orange;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Queries */

@media screen and (max-width: 1174px) {
  .left-section {
    width: 45%;
  }
  .right-section {
    width: 55%;
  }

  .property-name {
    width: 35%;
  }

  .property-value {
    width: 65%;
  }
}

@media screen and (max-width: 1099px) {
  .section-content {
    margin-top: 5.9rem;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .left-section {
    width: 40%;
  }
  .right-section {
    width: 60%;
  }

  .property-name {
    width: 30%;
  }

  .property-value {
    width: 70%;
  }
}

@media screen and (max-width: 999px) {
  .left-section {
    width: 45%;
  }
  .right-section {
    width: 55%;
  }

  .property-name {
    width: 40%;
  }

  .property-value {
    width: 60%;
  }
}

@media screen and (max-width: 899px) {
  .left-section {
    width: 48%;
  }
  .right-section {
    width: 52%;
  }

  .property-name {
    width: 45%;
  }

  .property-value {
    width: 55%;
  }
  .profile-pics {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (max-width: 799px) {
  .left-section {
    width: 50%;
    padding: 0 1rem;
  }
  .right-section {
    width: 50%;
    padding: 0 1rem;
  }

  .property-name {
    width: 50%;
  }

  .property-value {
    width: 50%;
  }
  .profile-pics {
    width: 15rem;
    height: 15rem;
  }
  .message-btn {
    margin-right: 1rem;
  }

  .edit-profile-link {
    padding: 0.5rem;
  }
  .edit-profile-icon {
    width: 1.15rem;
    height: 1.15rem;
  }
}

@media screen and (max-width: 699px) {
  .profile-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
  }

  .left-section {
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 2px dashed rgba(128, 128, 128, 0.404);
    padding-bottom: 3rem;
    align-items: center;
  }

  .user-title,
  .username {
    text-align: center;
  }
  .right-section {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }

  .property-name {
    width: 33%;
  }

  .property-value {
    width: 67%;
  }
  .profile-pics {
    width: 16rem;
    height: 16rem;
  }
  .message-btn {
    margin-right: 2rem;
  }

  .edit-profile-link {
    right: 2.5%;
    top: 1.5%;
  }
  .property-box:last-child {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 599px) {
  .property-name {
    width: 40%;
  }

  .property-value {
    width: 60%;
  }
}

@media screen and (max-width: 499px) {
  .profile-pics {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 399px) {
  .profile-pics {
    width: 14rem;
    height: 14rem;
  }
  .profile-container {
    padding: 1rem;
  }

  .message-btn,
  .group-btn {
    padding: 0.6rem;
    font-size: 1.01rem;
  }

  .message-btn {
    margin-right: 1rem;
  }

  .section-content {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 329px) {
  .profile-btn-div {
    display: flex;
    flex-direction: column;
  }

  .message-btn {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .message-btn,
  .group-btn {
    padding: 0.6rem 1rem;
    font-size: 1.02rem;
  }

  .property-name {
    font-size: 1.1rem;
  }

  .property-value {
    font-size: 1rem;
  }

  .profile-pics {
    width: 13rem;
    height: 13rem;
  }
}

@media screen and (max-width: 299px) {
  .profile-pics {
    width: 11rem;
    height: 11rem;
  }

  .property-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .property-value {
    width: 100%;
  }

  .property-name {
    margin-bottom: 0.2rem;
    width: 100%;
  }
}
