.div {
  display: flex;
}
.nav {
  width: 17%;
  position: fixed;
  left: 0;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(5px);
  width: 83%;
}

.page {
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: orange;
}

.icon-div {
  display: flex;
  margin: 0 2rem;
  align-items: center;
  margin-left: auto;
}

.icon-container {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

.notification-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.icon-container:nth-child(2) {
  padding: 0.45rem;
}

.chat-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: gray;
}

.profile-div {
  display: flex;
  align-items: center;
  /* margin-left: auto; */
}

.profile-picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 1px solid orange;
  cursor: pointer;
}

.profile-box {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  align-items: flex-end;
}

.profile-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.profile-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: 0.95rem;
}

.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  position: fixed;
  width: 17%;
  z-index: 3;
  backdrop-filter: blur(5px);
}

.icon-box {
  background: orange;
  border-radius: 10px;
  padding: 0.4rem;
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}

.head-text {
  color: black;
  font-family: protestRiot;
  font-size: 1.5rem;
  transform: translateY(4px);
}

.side-nav {
  list-style-type: none;
  margin-top: 5.3rem;
  padding-top: 2.7rem;
  padding-bottom: 1rem;
  height: calc(100vh - 5.33rem);
  overflow: auto;
}

.side-nav-item {
  margin-bottom: 1.25rem;
  padding: 0.25rem 1rem;
  padding-left: 1.5rem;
}

.side-nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.05rem;
  transition: color 0.3s, font-weight 0.3s;
}

.side-nav-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: gray;
  transition: fill 0.3s;
}

.side-nav-link:hover,
.side-nav-link:hover .side-nav-icon {
  color: orange;
  fill: orange;
  font-weight: bold;
}

.projects {
  border-right: 2px solid orange;
}

.projects-link {
  color: orange;
}

.projects-icon {
  fill: orange;
}

.projects-link:hover {
  font-weight: 500;
}

.responsive-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  animation: showNav 0.2s linear 0s;
}

.show-nav {
  display: block;
}

.responsive-section {
  background: white;
  height: 100%;
  width: 20%;
  overflow: auto;
}

.responsive-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  width: auto;
  margin-top: 1rem;
}

.responsive-side-nav {
  list-style-type: none;
  padding-top: 2.5rem;
  height: auto;
  overflow: auto;
  padding-bottom: 1rem;
}

.menu-icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.menu-icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: gray;
  transform: translateY(2px);
}

.menu-icon-box:hover {
  opacity: 0.7;
}

.alternate-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.alternate-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.notifications {
  display: none;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem;
  padding-bottom: 3.5rem;
}

.project-name {
  font-family: var(--general-font);
  font-size: 1.5rem;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.project-container {
  display: flex;
  margin-top: 1.5rem;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.project-content {
  border: 1px solid rgba(128, 128, 128, 0.404);
  border-radius: 5px;
  padding: 1rem;
}

.project-leader {
  display: flex;
  font-family: var(--general-font);
  font-size: 1.05rem;
  margin-bottom: 1rem;
  width: 100%;
}

.leader-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.75rem;
  flex-shrink: 0;
  object-fit: cover;
}

.leader-text {
  color: gray;
  font-weight: 700;
  margin-right: 1rem;
}

.leader {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  word-break: break-all;
}

.project-description {
  display: flex;
  flex-direction: column;
  font-family: var(--general-font);
}

.description-text {
  color: gray;
  font-weight: 700;
  font-size: 1.05rem;
}

.description {
  font-size: 0.95rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.files-conatiner {
  font-family: var(--general-font);
  margin-top: 2rem;
  padding: 1rem 1rem 2rem;
  box-shadow: 1px 1px 10px -7px black;
  border-radius: 5px;
  width: 100%;
  max-height: 70vh;
  overflow: auto;
}

.files-text {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
}

.files-size-left {
  font-size: 1.05rem;
  font-weight: 600;
}

.files-size-unit {
  font-variant: small-caps;
  font-size: 1.2rem;
}

.add-files-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.5rem;
}

.add-files-btn {
  border: none;
  outline: none;
  background: orange;
  color: white;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.add-files-btn:hover {
  box-shadow: 1px 1px 8px -4px black;
}

.add-file-input {
  display: none;
}

.files-box {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  padding-right: 0;
}

.uploaded-file {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1rem 0;
  width: 100%;
}

.file-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.file-icon1 {
  color: red;
}

.file-icon2 {
  color: green;
}

.file-icon3 {
  color: blue;
}

.file-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 5.3rem);
  margin-right: 1rem;
}

.file-name {
  font-weight: 600;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.file-details {
  display: flex;
  margin-bottom: 0.1rem;
  width: 100%;
}

.file-property {
  color: gray;
  font-weight: 600;
  margin-right: 0.5rem;
  font-size: 0.95rem;
}

.file-sender {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: orange;
  cursor: pointer;
}

.file-sender:hover {
  text-decoration: underline;
}

.file-size,
.time-sent {
  font-weight: 600;
}

.size-unit {
  font-variant: small-caps;
  font-size: 1.05rem;
}

.right-section {
  width: 35%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.project-details-container,
.alt-project-details-container {
  box-shadow: 1px 1px 10px -7px black;
  border-radius: 5px;
  width: 100%;
  font-family: var(--general-font);
  padding: 1rem;
}

.alt-project-details-container {
  margin-top: 2rem;
  display: none;
}

.project-details-head {
  font-weight: 700;
  font-size: 1.2rem;
}

.table-container {
  padding: 0 0.5rem;
}

.table {
  border-collapse: collapse;
  cursor: default;
  margin-top: 1.5rem;
  width: 100%;
}

.table tr:nth-child(odd) {
  background: #dcdcdc;
}

.table-property {
  font-weight: 600;
  font-size: 1.03rem;
}

.progress-div {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 0.5rem;
}

.progress-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.05rem;
}

.progress-value {
  color: orange;
}

.progress-bar {
  height: 0.25rem;
  border-radius: 20px;
  margin: 1rem 0;
  background: linear-gradient(
    to right,
    orange 60%,
    rgba(128, 128, 128, 0.5) 40%
  );
}

.project-team-container,
.alt-project-team-container {
  box-shadow: 1px 1px 10px -7px black;
  border-radius: 5px;
  width: 100%;
  font-family: var(--general-font);
  padding: 1rem;
  margin-top: 2rem;
  max-height: 70vh;
  overflow: auto;
}

.alt-project-team-container {
  display: none;
}

.team-head {
  font-weight: 700;
  font-size: 1.2rem;
}

.team-div {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 0 0.5rem;
}

.member-box {
  display: flex;
  margin-bottom: 1.5rem;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.2s;
}

.member-box:hover {
  opacity: 0.7;
}

.member-img {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.member-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: calc(100% - 3.8rem);
}

.member-name {
  font-weight: 600;
  font-size: 1.05rem;
  word-wrap: break-word;
}

.member-title {
  color: gray;
  font-weight: 600;
  font-size: 0.95rem;
  margin-top: 0.2rem;
  word-wrap: break-word;
}

.menu-box {
  position: relative;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
}

.menu-file-icon {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  display: none;
}

.menu-list {
  list-style-type: none;
  position: absolute;
  left: -400%;
  top: 110%;
  box-shadow: 1px 1px 8px -3px black;
  border-radius: 5px;
  display: none;
  z-index: 3;
  background: white;
}

.menu-item {
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.menu-item:hover {
  background: orange;
  color: white;
}

.menu-item:nth-child(1) {
  border-radius: 5px 5px 0 0;
}

.menu-item:nth-child(2) {
  border-radius: 0 0 5px 5px;
}

.uploaded-file:hover .menu-file-icon {
  display: block;
}

.menu-box:hover .menu-list {
  display: block;
}

.edit-btn-div {
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  border: none;
  outline: none;
  background: orange;
  color: white;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.edit-btn:hover {
  box-shadow: 1px 1px 8px -4px black;
}

.task-container {
  margin-top: 1.5rem;
  padding: 0 0.5rem;
}

.tasks-category-list {
  list-style-type: none;
  width: 100%;
}

.taks-category {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-family: var(--general-font);
  color: gray;
  font-weight: 700;
  font-size: 1.05rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  border-top: 2px solid white;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.2s;
}

.taks-category:hover {
  background: rgba(220, 220, 220, 0.7);
  border-top: 2px solid rgba(220, 220, 220, 0.7);
}

.current-task-category {
  color: black;
  border-bottom: 1px solid rgba(220, 220, 220, 0.5);
  border-top: 2px solid orange;
  background: rgba(220, 220, 220, 0.5);
  transition: none;
}

.current-task-category:hover {
  background: rgba(220, 220, 220, 0.5);
  border-top: 2px solid orange;
}

.tasks-list {
  margin-top: 2rem;
  list-style-type: none;
  padding: 0 2rem;
  width: 100%;
}

.task-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 0.9rem 1rem;
  border-bottom: 0;
  position: relative;
}

.task-box {
  display: flex;
  width: 100%;
}

.task-item:last-child {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.status-icon {
  color: green;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.status-icon2 {
  color: red;
}

.status-icon3 {
  color: orange;
}

.task-name {
  font-family: var(--general-font);
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.03rem;
  word-wrap: break-word;
  width: calc(100% - 8rem);
}

.action-box {
  margin-left: auto;
  align-items: center;
  position: absolute;
  display: none;
  right: 1rem;
}

.alt-action-box {
  display: none;
  align-items: center;
}

.view-icon-box,
.delete-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.view-icon,
.delete-icon {
  color: gray;
  width: 1.05rem;
  height: 1.05rem;
  flex-shrink: 0;
}

.delete-icon-box {
  margin-left: 1rem;
}

.task-item:hover .action-box {
  display: flex;
}

.activities-container {
  margin-top: 3rem;
  font-family: var(--general-font);
}

.activity-table-container {
  max-height: 100vh;
  overflow: auto;
  white-space: nowrap;
}

.activity-head {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--general-font);
}

.activity-table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

.table-head-row {
  background: orange;
}

.activity-table tr:nth-child(even) {
  background: rgba(128, 128, 128, 0.15);
}

.table-head {
  font-family: var(--general-font);
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 1.05rem;
  text-shadow: 1px 1px 2px black;
  padding: 1rem;
  cursor: auto;
}

td {
  padding: 1rem;
  text-align: left;
  font-size: 1.02rem;
  cursor: auto;
}

.performer {
  font-weight: 500;
  cursor: pointer;
}

.activity-time {
  font-variant: small-caps;
  font-weight: 500;
  font-size: 1.1rem;
}

.delete-activity-icon {
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(5px);
  cursor: pointer;
}

.activity-type {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.activity-type-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  transform: translateY(1px);
}

.activity-type1 {
  color: rgb(0, 158, 251);
  background: rgba(0, 158, 251, 0.15);
}

.activity-type2 {
  color: rgb(147, 104, 233);
  background: rgba(147, 104, 233, 0.15);
}

.activity-type3 {
  color: rgb(220, 20, 60);
  background: rgba(220, 20, 60, 0.15);
}

.task-head {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--general-font);
  margin-bottom: 2rem;
}

.show-files-section {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 4;
  cursor: pointer;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: auto;
}

.modal-container {
  background: white;
  border-radius: 8px;
  height: fit-content;
  margin: 2rem 0;
  font-family: var(--general-font);
  padding: 2rem;
  position: relative;
  cursor: auto;
  animation: fadeIn 0.4s ease-in-out 0s;
  width: 50%;
}

.modal-head {
  font-weight: 500;
  font-size: 1.4rem;
}

.close-modal {
  position: absolute;
  right: 1.2rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(128, 128, 128, 0.2);
  padding: 0.35rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  transition: background 0.3s, color 0.25s;
}

.close-modal-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.close-modal:hover {
  background: orange;
  color: white;
}

.files-list {
  list-style-type: none;
  margin-top: 2rem;
}

.file-item {
  display: flex;
  font-family: var(--general-font);
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.file-no {
  font-weight: 600;
  font-size: 1.1rem;
}

.file-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 100%;
}

.file-info-box {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  width: 100%;
}

.file-name-box {
  align-items: flex-start;
}

.file-info-property {
  color: gray;
  font-weight: 600;
  font-size: 1.03rem;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.file-info-value {
  font-weight: 500;
  width: 70%;
  background: red;
  word-wrap: break-word;
}

.file-size-unit {
  font-variant: small-caps;
  font-size: 1.2rem;
}

.file-new-name {
  outline: none;
  font-size: 0.95rem;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.404);
  transition: border 0.3s;
  width: 70%;
}

.file-new-name:focus {
  border: 1px solid orange;
}

.file-new-name::placeholder {
  color: gray;
  font-family: var(--general-font);
  font-size: 0.95rem;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.upload-btn {
  outline: none;
  font-family: var(--general-font);
  background: orange;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1.03rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 10px -5px orange;
  transition: opacity 0.3s;
}

.upload-btn:hover {
  opacity: 0.85;
}

.remove-file-icon {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  right: 4%;
  top: 5%;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
}

.remove-file-icon:hover {
  color: orange;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Media Queries */

@media screen and (min-width: 1100px) {
  .responsive-nav {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .modal-container {
    width: 55%;
  }
}

@media screen and (max-width: 1174px) {
  .search {
    width: 22rem;
  }

  .modal-container {
    width: 60%;
  }
}

@media screen and (max-width: 1099px) {
  .responsive-section {
    width: 25%;
  }

  .section-content {
    margin-top: 5.9rem;
  }

  .nav {
    display: none;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .header {
    width: 100%;
    padding: 1.5rem 1.8rem;
    padding-left: 1.2rem;
  }

  .menu-icon-box {
    display: flex;
  }

  .section-content {
    padding: 1.5rem 2rem;
    padding-bottom: 3.5rem;
  }

  .modal-container {
    width: 65%;
  }
}

@media screen and (max-width: 999px) {
  .responsive-section {
    width: 28%;
  }

  .modal-container {
    width: 73%;
  }
}

@media screen and (max-width: 899px) {
  .responsive-section {
    width: 32%;
  }

  .search {
    width: 20rem;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .right-section {
    display: none;
  }

  .alt-project-team-container,
  .alt-project-details-container {
    display: block;
  }

  .tasks-list {
    padding: 0;
  }

  .modal-container {
    width: 80%;
  }

  .file-info-value {
    width: 69%;
  }
}

@media screen and (max-width: 799px) {
  .responsive-section {
    width: 35%;
  }
  .search-box {
    margin-left: 2rem;
  }

  .search {
    width: 18rem;
  }

  .file-info-value {
    width: 65%;
  }
}

@media screen and (max-width: 699px) {
  .responsive-section {
    width: 40%;
  }
  .profile-box {
    display: none;
  }

  .section-content {
    padding: 1.5rem;
    padding-bottom: 3.5rem;
  }

  .task-container {
    padding: 0;
  }

  .delete-icon-box {
    margin-left: 0.5rem;
  }

  .modal-container {
    width: 85%;
  }

  .file-info-box {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.3rem;
  }

  .file-new-name {
    width: 90%;
  }

  .file-info-value {
    width: 90%;
  }

  .remove-file-icon {
    right: 3%;
    top: 5%;
  }

  .file-info-property {
    margin-bottom: 0.2rem;
  }

  .file-size-box {
    flex-direction: row;
    align-items: center;
  }

  .file-info-size {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 599px) {
  .responsive-section {
    width: 47%;
  }
  .search {
    width: 13rem;
  }

  .section-content {
    padding: 1.5rem 1rem;
    padding-bottom: 3.5rem;
  }

  .project-name {
    padding: 0 0.5rem;
  }

  .view-icon,
  .delete-icon {
    color: gray;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }

  .remove-file-icon {
    right: 2%;
  }
}

@media screen and (max-width: 499px) {
  .responsive-section {
    width: 54%;
  }

  .menu-icon-box {
    margin-right: 0.8rem;
  }

  .task-category-div {
    overflow: auto;
  }

  .tasks-category-list {
    width: 130%;
  }

  .status-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .task-name {
    font-size: 1rem;
    width: 100%;
  }

  .task-item:hover .action-box {
    display: none;
  }

  .task-item:hover .alt-action-box {
    display: flex;
    align-items: center;
    margin-left: 2.3rem;
    margin-top: 0.5rem;
  }

  .files-conatiner {
    padding: 1rem 0.5rem 2rem;
  }

  .files-box {
    padding: 0;
  }

  .menu-list {
    left: -450%;
    top: 110%;
  }

  .files-text {
    padding: 0 0.5rem;
  }

  .modal-container {
    width: 90%;
    padding: 2rem 1.5rem;
  }

  .remove-file-icon {
    right: 1%;
  }

  .file-new-name::placeholder {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 399px) {
  .responsive-section {
    width: 65%;
  }
  .alternate-search-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .alternate-search-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: gray;
  }

  .notifications {
    display: block;
  }

  .tasks-category-list {
    width: 150%;
  }

  .icon-div {
    display: none;
  }

  .profile-div {
    margin-left: auto;
  }

  .project-content {
    padding: 1rem 0.5rem;
  }

  .alt-project-details-container {
    padding: 1rem 0.5rem;
  }

  .project-details-head {
    padding: 0 0.5rem;
  }

  .team-div {
    padding: 0;
  }
  .member-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .file-content {
    width: calc(100% - 4.8rem);
    margin-right: 0.5rem;
  }

  .files-text {
    margin: 0.5rem 0 1.5rem;
  }

  .add-files-box {
    justify-content: flex-start;
    margin-right: 0;
  }

  .modal-container {
    width: 95%;
    padding: 2rem 1rem;
  }

  .file-new-name {
    width: 100%;
  }

  .file-info {
    margin-left: 0.5rem;
  }

  .remove-file-icon {
    right: 0%;
    top: 3%;
  }
}

@media screen and (max-width: 329px) {
  .responsive-section {
    width: 70%;
  }

  .section-content {
    padding: 1.5rem 0.5rem;
    padding-bottom: 3.5rem;
  }

  .tasks-category-list {
    width: 180%;
  }

  .modal-container {
    width: 100%;
    padding: 2rem 0.5rem;
  }

  .file-new-name {
    width: 90%;
    font-size: 0.9rem;
  }

  .file-info-value {
    width: 90;
    font-size: 0.95rem;
  }

  .remove-file-icon {
    right: 0%;
    top: 1%;
  }

  .file-info-property {
    font-size: 1rem;
  }
}

@media screen and (max-width: 299px) {
  .responsive-section {
    width: 80%;
  }
  .alternate-search-box {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .menu-icon-box {
    margin-right: 0.3rem;
  }

  .tasks-category-list {
    width: 200%;
  }
}
