.div {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  padding: 1rem 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.section-head {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.sort-div {
  display: flex;
  align-items: center;
}

.sort-text {
  font-family: var(--general-font);
  font-weight: 500;
  font-size: 1.1rem;
}

.sort-select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-family: var(--general-font);
  border-radius: 10px;
  font-size: 1.02rem;
  border: 2px solid orange;
  cursor: pointer;
  outline: none;
}

.project-style-div {
  display: flex;
  align-items: center;
}

.project-style-icon-box {
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0.4rem;
  margin-right: 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.project-style-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: gray;
}

.project-style-icon-box:hover {
  box-shadow: 1px 1px 4px -2px black;
}

.current-project-style-box {
  background: orange;
  border: 1px solid orange;
}

.current-project-style-icon {
  fill: white;
}

.current-project-style-box:hover {
  box-shadow: none;
}
.create-project-btn {
  outline: none;
  font-family: var(--general-font);
  background: orange;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.03rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 20px -5px orange;
  transition: opacity 0.3s;
  margin-left: 0.5rem;
}

.create-project-btn:hover {
  opacity: 0.85;
}

.create-project-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
}

.filter-div {
  display: flex;
  align-items: center;
  background: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  padding: 0.5rem;
  width: 22.5rem;
  overflow-x: auto;
  align-self: flex-end;
}

.filter-btn {
  outline: none;
  font-family: var(--general-font);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  font-size: 1.02rem;
  transition: color 0.3s;
}

.filter-btn:hover {
  color: orange;
  text-shadow: 1px 1px 2px black;
}

.current-filter-btn {
  background: orange;
  color: white;
}

.current-filter-btn:hover {
  color: white;
  text-shadow: none;
}

.article-box {
  padding: 2rem 1.5rem;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 31% 31% 31%;
  margin-top: 1rem;
}

.empty-article-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px 10px -4px black;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

.delete-icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 4%;
}

.delete-icon {
  fill: gray;
  width: 1.35rem;
  height: 1.35rem;
  cursor: pointer;
  transition: fill 0.3s;
}

.delete-icon:hover {
  fill: orange;
}

.article:hover .delete-icon-box {
  display: flex;
}

.menu-div {
  position: absolute;
  right: 3%;
}

.grid-menu-icon {
  fill: gray;
  width: 1.5rem;
  height: 1.5rem;
}

.menu-action-list {
  position: absolute;
  flex-direction: column;
  background: white;
  box-shadow: 1px 1px 6px -3px black;
  border-radius: 5px;
  list-style-type: none;
  right: 0;
  display: none;
  z-index: 2;
}

.menu-action-link {
  color: black;
  text-decoration: none;
}

.menu-action-item {
  padding: 0.5rem 1.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  font-family: var(--general-font);
  font-size: 0.9rem;
  cursor: pointer;
}

.menu-action-item:first-child {
  border-radius: 5px 5px 0 0;
}

.menu-action-item:nth-child(2) {
  border-radius: 0 0 5px 5px;
}

.menu-action-item:hover {
  background: rgba(128, 128, 128, 0.185);
}

.menu-div:hover .menu-action-list {
  display: flex;
}

.project-name {
  font-family: var(--general-font);
  font-size: 1.2rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-name-value {
  cursor: pointer;
}

.project-name-value a {
  color: black;
  text-decoration: none;
}

.project-name-value:hover {
  text-decoration: underline;
}

.project-tasks {
  font-family: var(--general-font);
  margin-top: 0.8rem;
  word-wrap: break-word;
}

.open-tasks,
.completed-tasks {
  font-weight: 500;
}

.project-details {
  margin-top: 1rem;
  font-family: var(--general-font);
  color: gray;
  font-weight: 500;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 4.2rem;
}

.property-div {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.property-tooltip {
  position: relative;
}

.property-tooltip-text {
  position: absolute;
  background: gray;
  color: white;
  font-family: var(--general-font);
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  top: -100%;
  right: -70%;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
}

.property-tooltip-text::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.property-tooltip:hover .property-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.property-name {
  font-family: var(--general-font);
  font-weight: 500;
  font-size: 1.03rem;
  margin-right: 0.5rem;
}

.deadline-value {
  font-family: var(--general-font);
  color: gray;
  font-weight: 600;
  font-size: 1.03rem;
}

.team-pics-box {
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.no-team-box,
.no-team-text,
.no-deadline {
  font-family: var(--general-font);
  color: gray;
  font-weight: 500;
  font-size: 1.03rem;
}

.team-pics-tooltip:nth-child(1) {
  margin-left: 0;
}

.team-pics {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  cursor: pointer;
}

.team-pics-tooltip {
  position: relative;
  margin-left: -10px;
}

.team-pics-tooltip-text {
  position: absolute;
  background: gray;
  color: white;
  font-family: var(--general-font);
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  top: -85%;
  right: -70%;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: hidden;
  max-width: 7.5rem;
  text-overflow: ellipsis;
}

.team-pics-tooltip-text::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.team-pics-tooltip:hover .team-pics-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.team-pics-tooltip:nth-child(1) .team-pics-tooltip-text {
  right: -55%;
}

.team-pics-tooltip:nth-child(3) .team-pics-tooltip-text {
  right: -100%;
}

.team-pics-tooltip:nth-child(4) .team-pics-tooltip-text {
  right: -110%;
}

.team-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
  padding: 0.2rem;
  border-radius: 50%;
  margin-left: -10px;
  border: 2px solid white;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 2;
}

.team-icon {
  width: 0.8rem;
  height: 0.8rem;
  fill: white;
}

.team-number {
  font-family: var(--general-font);
  font-weight: 500;
  color: white;
  font-size: 0.9rem;
}

.progess-div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.progess-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progess-text {
  font-weight: bold;
  font-family: var(--general-font);
  font-size: 1.05rem;
}

.progess-value {
  font-family: var(--general-font);
  color: orange;
  font-weight: bold;
  font-size: 1.05rem;
}

.progress-bar {
  height: 0.2rem;
  border-radius: 20px;
  margin: 1rem 0;
  background: rgba(128, 128, 128, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
}

.progress-bar-value {
  background: orange;
  height: inherit;
}

.table-container {
  padding: 2rem;
  margin: 1rem 0;
  padding-top: 2rem;
}
.table-div {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
}

.project-table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: auto;
}

.project-table tr:nth-child(even) {
  background: rgba(128, 128, 128, 0.25);
}

.table-head-row {
  background: orange;
}

.table-head {
  font-family: var(--general-font);
  text-align: left;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  padding: 1rem 0.8rem;
}

.table-project-data {
  padding: 1.3rem 0.8rem;
  text-align: left;
}

.table-project-name {
  font-family: var(--general-font);
  text-align: left;
  font-weight: 500;
}

.table-project-leader {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  object-fit: cover;
}

.table-team-box {
  display: flex;
  align-items: center;
}

.table-team-pics-box {
  margin-left: -12px;
  position: relative;
}

.table-team-pics {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.table-team-name {
  position: absolute;
  background: gray;
  color: white;
  font-family: var(--general-font);
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  top: -80%;
  right: -70%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: hidden;
  max-width: 10rem;
  text-overflow: ellipsis;
}

.table-project-name a {
  color: black;
  text-decoration: none;
}

.table-project-name a:hover {
  text-decoration: underline;
}

.table-team-pics-box:nth-child(1) .table-team-name {
  right: -55%;
}

.table-team-pics-box:nth-child(3) .table-team-name {
  right: -100%;
}

.table-team-pics-box:nth-child(4) .table-team-name {
  right: -110%;
}

.table-team-name::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.table-team-pics-box:hover .table-team-name {
  visibility: visible;
  opacity: 1;
}

.table-team-pics:nth-child(1) {
  margin-left: 0;
}

.table-project-deadline {
  font-weight: 500;
  font-family: var(--general-font);
}

.table-project-progress {
  font-weight: 500;
  font-family: var(--general-font);
}

.low-progress {
  color: red;
}

.medium-progress {
  color: goldenrod;
}

.high-progress {
  color: rgb(147, 104, 233);
}

.complete-progress {
  color: green;
}

.table-project-status {
  font-weight: 600;
  font-family: var(--general-font);
}

.table-delete-icon-box {
  display: flex;
  justify-content: center;
}

.active-project {
  display: inline-flex;
  align-items: center;
  color: green;
}

.active-project-icon {
  margin-right: 0.3rem;
  width: 1.05rem;
  height: 1.05rem;
  transform: translateY(1px);
}

.inactive-project {
  display: inline-flex;
  align-items: center;
  color: red;
}

.inactive-project-icon {
  margin-right: 0.3rem;
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(2px);
}

.table-project-menu {
  fill: gray;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.table-project-action {
  /* position: relative; */
  text-align: right;
  padding-right: 1.5rem;
}

.table-project-action-box {
  display: inline-flex;
  position: relative;
}

.action-box {
  position: absolute;
  flex-direction: column;
  background: white;
  box-shadow: 1px 1px 6px -3px black;
  border-radius: 5px;
  list-style-type: none;
  right: 0;
  bottom: 70%;
  display: none;
  z-index: 2;
}

.table-project-action-box:hover .action-box {
  display: flex;
}

.action-option {
  padding: 0.5rem 1.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  font-family: var(--general-font);
  font-size: 0.9rem;
  cursor: pointer;
}

.action-option:first-child {
  border-radius: 5px 5px 0 0;
}

.action-option:nth-child(2) {
  border-radius: 0 0 5px 5px;
}

.action-option:hover {
  background: rgba(128, 128, 128, 0.185);
}

.action-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 1rem;
}

.footer-text {
  font-family: var(--general-font);
}

.footer-entry-text {
  font-weight: 500;
}

.entry-navigation-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  /* border: 1px solid rgba(128, 128, 128, 0.404); */
  font-family: var(--general-font);
  box-shadow: 1px 1px 5px -3px black;
}

.pagination-box {
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 12.5625rem;
}

.footer-content-box {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.2rem;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 500;
}

.footer-content-box:hover {
  background: rgba(128, 128, 128, 0.3);
}

.pagination-box .footer-content-box:last-child {
  border-right: 1px solid rgba(128, 128, 128, 0.404);
}

.current-page {
  background: gray;
  color: white !important;
}

.current-page:hover {
  background: gray;
}

.footer-arrow-box {
  border: none;
}

.footer-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: gray;
  flex-shrink: 0;
}

.disable-box {
  pointer-events: none;
  opacity: 0.5;
}

.table-team-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
  padding: 0.2rem;
  border-radius: 50%;
  margin-left: -12px;
  border: 2px solid white;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 0;
}

.table-team-icon {
  width: 0.8rem;
  height: 0.8rem;
  fill: white;
}

.alternate-btn-div {
  display: none;
  margin: 1rem 1.5rem 0;
}

.alternate-project-btn {
  outline: none;
  font-family: var(--general-font);
  background: orange;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.03rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 20px -5px orange;
  transition: opacity 0.3s;
}

.alternate-project-btn:hover {
  opacity: 0.85;
}

.alternate-project-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
}

.alternate-filter-div {
  display: none;
  align-items: center;
  background: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  padding: 0.5rem;
  width: 22.5rem;
  overflow-x: auto;
  margin: auto;
}

.alternate-filter-btn {
  outline: none;
  font-family: var(--general-font);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  font-size: 1.02rem;
  transition: color 0.3s;
}

.alternate-filter-btn:hover {
  color: orange;
  text-shadow: 1px 1px 2px black;
}

.alternate-current-filter-btn {
  background: orange;
  color: white;
}

.alternate-current-filter-btn:hover {
  color: white;
  text-shadow: none;
}

.alt-project-style-icon-box {
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0.4rem;
  margin-right: 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  display: none;
}

.alt-project-style-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: gray;
}

.alt-project-style-icon-box:hover {
  box-shadow: 1px 1px 4px -2px black;
}

.alt-current-project-style-box {
  background: orange;
  border: 1px solid orange;
}

.alt-current-project-style-icon {
  fill: white;
}

.alt-current-project-style-box:hover {
  box-shadow: none;
}

.no-projects-text {
  font-family: var(--general-font);
  color: gray;
  font-size: 1.15rem;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.network-icon {
  margin-right: 0.7rem;
  transform: translateY(2px);
}

.projects-loader-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2.5rem;
}

.more-task-btn {
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.03rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 10px -3px orange;
  transition: opacity 0.3s;
}

.more-task-btn:hover {
  opacity: 0.8;
}

.default-pic {
  border: 1px solid orange;
}

.dark-text,
.dark-text a {
  color: var(--dark-theme-color);
}

.dark-select {
  color: var(--dark-theme-color);
  background: var(--dark-theme-background);
}

.dark-msg {
  color: var(--dark-theme-text);
  fill: var(--dark-theme-text);
}

.dark-article {
  box-shadow: 1px 1px 20px -10px black, 1px 1px 4px -2px var(--dark-theme-text),
    -1px -1px 4px -2px var(--dark-theme-text);
}

.dark-progress {
  background: rgb(176, 196, 222, 0.5);
}

.dark-navigation-box {
  box-shadow: 1px 1px 5px -3px black, -1px -1px 4px -2px var(--dark-theme-text),
    1px 1px 4px -2px var(--dark-theme-text);
}

.dark-num {
  color: orange;
}

.dark-active {
  color: #7cfc00;
}

.dark-inactive {
  color: #ffb6c1;
}

.dark-low-progress {
  color: #ffb6c1;
}

.dark-medium-progress {
  color: orange;
}

.dark-high-progress {
  color: #00bfff;
}

.dark-complete-progress {
  color: #7cfc00;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Media Queries */

@media screen and (max-width: 1250px) {
  .filter-div {
    width: 21rem;
  }
}

@media screen and (max-width: 1174px) {
  .filter-div {
    width: 20rem;
  }

  .article-box {
    padding: 2rem 1rem;
  }

  .create-project-btn {
    padding: 0.8rem 1rem;
  }

  .modal-container {
    width: 40%;
  }
}

@media screen and (max-width: 1099px) {
  .section-content {
    margin-top: 5.9rem;
  }

  .filter-div {
    width: 22.5rem;
  }

  .create-project-btn {
    padding: 0.8rem 1.5rem;
  }

  .article-box {
    padding: 2rem 1.5rem;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .modal-container {
    width: 43%;
  }
}

@media screen and (max-width: 999px) {
  .create-project-btn {
    padding: 0.8rem 1.2rem;
  }

  .filter-div {
    width: 18rem;
  }

  .modal-container {
    width: 46%;
  }
}

@media screen and (max-width: 899px) {
  .article-box {
    grid-template-columns: 45% 45%;
  }

  .create-project-btn {
    display: none;
  }

  .alternate-btn-div {
    display: flex;
  }

  .filter-div {
    width: 20rem;
  }

  .modal-container {
    width: 51%;
  }
}

@media screen and (max-width: 799px) {
  .filter-div {
    display: none;
  }
  .alternate-filter-div {
    display: flex;
    margin-top: 1rem;
  }

  .table-container {
    padding: 2rem 1rem;
  }

  .modal-container {
    width: 58%;
  }
}

@media screen and (max-width: 699px) {
  .article-box {
    padding: 2rem 0rem;
    grid-template-columns: 46% 46%;
  }

  .modal-container {
    width: 66%;
  }
}

@media screen and (max-width: 599px) {
  .article-box {
    grid-template-columns: 65%;
  }

  .modal-container {
    width: 78%;
  }
}

@media screen and (max-width: 499px) {
  .article-box {
    grid-template-columns: 80%;
  }

  .section-head {
    padding: 0 0.5rem;
    padding-left: 1rem;
  }

  .sort-select {
    padding: 0.3rem;
    font-size: 1rem;
  }

  .alternate-project-btn {
    padding: 0.7rem 1.2rem;
    font-size: 1.01rem;
  }

  .alternate-filter-div {
    padding: 0.4rem;
    width: 20rem;
  }

  .alternate-filter-btn {
    padding: 0.6rem;
    font-size: 1rem;
  }

  .table-container {
    padding: 2rem 0.5rem;
  }

  .entry-box {
    padding-left: 0.5rem;
  }

  .footer {
    flex-direction: column;
    margin-top: 2rem;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .entry-navigation-box {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }

  .modal-container {
    width: 88%;
  }
}

@media screen and (max-width: 399px) {
  .article-box {
    grid-template-columns: 90%;
  }

  .project-style-div {
    display: none;
  }

  .alternate-btn-div {
    margin: 1rem 1rem 0;
  }

  .alternate-project-btn {
    padding: 0.7rem 1rem;
    font-size: 0.95rem;
    margin-left: auto;
  }

  .alternate-filter-div {
    padding: 0.4rem;
    width: 18rem;
  }

  .alternate-filter-btn {
    padding: 0.55rem;
    font-size: 0.9rem;
  }

  .sort-select {
    padding: 0.2rem;
    font-size: 0.9rem;
  }

  .alt-project-style-icon-box {
    display: flex;
  }

  .alternate-project-icon {
    width: 1.1rem;
    height: 1.1rem;
  }

  .sort-text {
    font-size: 1rem;
  }

  .modal-container {
    width: 95%;
  }
}

@media screen and (max-width: 329px) {
  .alternate-filter-div {
    padding: 0.4rem;
    width: 15rem;
  }

  .alternate-filter-btn {
    padding: 0.55rem;
    font-size: 0.9rem;
  }

  .modal-container {
    width: 98%;
  }
}

@media screen and (max-width: 299px) {
  .article-box {
    grid-template-columns: 95%;
  }

  .alternate-project-btn {
    padding: 0.7rem 1rem;
    font-size: 0.85rem;
    margin-left: auto;
  }

  .alternate-project-icon {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.3rem;
  }
}
