.main {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.settings-category {
  border-right: 1px solid rgba(128, 128, 128, 0.404);
  width: 25%;
  padding: 2rem 1rem;
  height: calc(100vh - 5.3rem);
  overflow: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.profile-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.file-btn {
  display: none;
}

.change-img-box {
  position: absolute;
  right: 4%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  top: 4%;
  padding: 0.2rem;
  cursor: pointer;
}

.change-img-icon {
  width: 1.15rem;
  height: 1.15rem;
}

.profile-img-caption {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-family: var(--general-font);
  align-items: center;
}

.profile-pics {
  width: 9rem;
  height: 9rem;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.profile-pics:hover {
  box-shadow: 2px 2px 4px -2px black;
}

.default-pic {
  border: 2px solid gray;
}

.username {
  font-weight: bold;
  font-size: 1.15rem;
  word-break: break-all;
  text-align: center;
}

.user-title {
  color: gray;
  font-weight: 600;
  margin-top: 0.1rem;
  font-size: 0.95rem;
}

.category-list {
  margin-top: 2rem;
  list-style-type: none;
  margin-right: auto;
  width: 100%;
}

.category-item {
  display: block;
  font-family: var(--general-font);
  font-weight: 600;
  color: gray;
  font-size: 1.05rem;
  padding: 1rem 1rem;
  border-radius: 8px;
  transition: background 0.3s;
  margin-bottom: 0.5rem;
  transition: color 0.2s;
}

.category-box {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.category-box:hover {
  color: orange;
}

.category-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.current-category-item {
  background: #f5f5dc;
}

.current-category-box {
  color: orange;
  font-weight: 600;
  cursor: default;
}

.settings-menu-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: fixed;
  right: 3%;
  transform: translateY(1.2rem);
  cursor: pointer;
  display: none;
  transition: color 0.2s;
  background: white;
  z-index: 3;
}

.settings-menu-icon:hover {
  color: orange;
}

.responsive-settings {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: none;
  justify-content: flex-end;
  animation: showCategory 0.2s linear 0s;
}

.show-responsive-settings {
  display: flex;
}

.responsive-settings-category {
  width: 40%;
  padding: 3rem 1rem 2rem;
  height: 100%;
  overflow: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  background: white;
  transition: width 0.5s;
}

.close-responsive-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  top: 2%;
  right: 2%;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
}

.close-responsive-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.close-responsive-settings:hover {
  background: #dcdcdc;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showCategory {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (min-width: 800px) {
  .responsive-settings {
    display: none;
  }
}

@media screen and (max-width: 1099px) {
  .section-content {
    margin-top: 5.9rem;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .settings-category {
    width: 30%;
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 999px) {
  .settings-category {
    padding: 2rem 1rem;
  }

  .profile-pics {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 899px) {
  .settings-category {
    width: 35%;
  }
}

@media screen and (max-width: 799px) {
  .settings-category {
    display: none;
  }

  .settings-menu-icon {
    display: inline;
  }
}

@media screen and (max-width: 699px) {
  .responsive-settings-category {
    width: 45%;
  }
}

@media screen and (max-width: 599px) {
  .responsive-settings-category {
    width: 55%;
  }

  .settings-menu-icon {
    right: 4%;
  }
}

@media screen and (max-width: 499px) {
  .responsive-settings-category {
    width: 65%;
  }

  .settings-menu-icon {
    right: 5%;
  }
}

@media screen and (max-width: 399px) {
  .responsive-settings-category {
    width: 75%;
  }

  .responsive-settings-category {
    padding: 3rem 0.7rem 2rem;
  }
}

@media screen and (max-width: 329px) {
  .responsive-settings-category {
    width: 80%;
  }
}

@media screen and (max-width: 299px) {
  .responsive-settings-category {
    width: 100%;
  }
}
