.main {
  display: flex;
}
.nav {
  width: 17%;
  position: fixed;
  left: 0;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  position: fixed;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(5px);
  width: 83%;
}

.page {
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: orange;
}

.search-box {
  margin-left: 3rem;
  position: relative;
}

.search {
  outline: none;
  width: 25rem;
  border-radius: 20px;
  padding: 0.8rem;
  padding-left: 2.5rem;
  border: 1px solid gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.05rem;
  opacity: 0.7;
  padding-right: 2.5rem;
}

.search-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
}

.cancel-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  right: 3%;
  top: 30%;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.show-cancel-icon {
  display: inline;
}

.search-box ::placeholder {
  color: black;
  opacity: 0.9;
  font-family: calligraphy;
  font-size: 1.08rem;
}

.icon-div {
  display: flex;
  margin: 0 2rem;
  align-items: center;
}

.icon-container {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

.notification-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.icon-container:nth-child(2) {
  padding: 0.45rem;
}

.chat-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: gray;
}

.profile-div {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 1px solid orange;
  cursor: pointer;
}

.profile-box {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  align-items: flex-end;
}

.profile-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.profile-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: 0.95rem;
}

.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  position: fixed;
  width: 17%;
  z-index: 3;
  backdrop-filter: blur(5px);
}

.icon-box {
  background: orange;
  border-radius: 10px;
  padding: 0.4rem;
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}

.head-text {
  color: black;
  font-family: protestRiot;
  font-size: 1.5rem;
  transform: translateY(4px);
}

.side-nav {
  list-style-type: none;
  margin-top: 5.3rem;
  padding-top: 2.7rem;
  padding-bottom: 1rem;
  height: calc(100vh - 5.33rem);
  overflow: auto;
}

.side-nav-item {
  margin-bottom: 1.25rem;
  padding: 0.25rem 1rem;
  padding-left: 1.5rem;
}

.side-nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.05rem;
  transition: color 0.3s, font-weight 0.3s;
}

.side-nav-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: gray;
  transition: fill 0.3s;
}

.side-nav-link:hover,
.side-nav-link:hover .side-nav-icon {
  color: orange;
  fill: orange;
  font-weight: bold;
}

.settings {
  border-right: 2px solid orange;
}

.settings-link {
  color: orange;
}

.settings-icon {
  fill: orange;
}

.settings-link:hover {
  font-weight: 500;
}

.responsive-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  animation: showNav 0.2s linear 0s;
}

.show-nav {
  display: block;
}

.responsive-section {
  background: white;
  height: 100%;
  width: 20%;
  overflow: auto;
}

.responsive-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding: 1.1rem;
  padding-bottom: 1.45rem;
  width: auto;
  margin-top: 1rem;
}

.responsive-side-nav {
  list-style-type: none;
  padding-top: 2.5rem;
  height: auto;
  overflow: auto;
  padding-bottom: 1rem;
}

.menu-icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.menu-icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: gray;
  transform: translateY(2px);
}

.menu-icon-box:hover {
  opacity: 0.7;
}

.alternate-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.alternate-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
}

.notifications {
  display: none;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.settings-category {
  border-right: 1px solid rgba(128, 128, 128, 0.404);
  width: 25%;
  padding: 2rem 1rem;
  height: calc(100vh - 5.3rem);
  overflow: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.profile-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.file-btn {
  display: none;
}

.change-img-box {
  position: absolute;
  right: 4%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  top: 4%;
  padding: 0.2rem;
  cursor: pointer;
}

.change-img-icon {
  width: 1.15rem;
  height: 1.15rem;
}

.profile-img-caption {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-family: var(--general-font);
  align-items: center;
}

.profile-pics {
  width: 9rem;
  height: 9rem;
  border-radius: 10px;
  object-fit: cover;
}

.username {
  font-weight: bold;
  font-size: 1.15rem;
  word-break: break-all;
  text-align: center;
}

.user-title {
  color: gray;
  font-weight: 600;
  margin-top: 0.1rem;
  font-size: 0.95rem;
}

.category-list {
  margin-top: 2rem;
  list-style-type: none;
  margin-right: auto;
  width: 100%;
}

.category-item {
  display: flex;
  align-items: center;
  font-family: var(--general-font);
  font-weight: 600;
  color: gray;
  font-size: 1.05rem;
  padding: 1rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 0.5rem;
  transition: color 0.2s;
}

.category-item:hover {
  color: orange;
}
.category-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.current-category-item {
  color: orange;
  font-weight: 600;
  background: #f5f5dc;
  cursor: default;
}

.settings-menu-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: fixed;
  right: 3%;
  transform: translateY(1.2rem);
  cursor: pointer;
  display: none;
  transition: color 0.2s;
  background: white;
  z-index: 3;
}

.settings-menu-icon:hover {
  color: orange;
}

.responsive-settings {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: none;
  justify-content: flex-end;
  animation: showCategory 0.2s linear 0s;
}

.show-responsive-settings {
  display: flex;
}

.responsive-settings-category {
  width: 40%;
  padding: 3rem 1rem 2rem;
  height: 100%;
  overflow: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  background: white;
  transition: width 0.5s;
}

.close-responsive-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  top: 2%;
  right: 2%;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
}

.close-responsive-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.close-responsive-settings:hover {
  background: #dcdcdc;
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showCategory {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (min-width: 1100px) {
  .responsive-nav {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .responsive-settings {
    display: none;
  }
}

@media screen and (max-width: 1174px) {
  .search {
    width: 22rem;
  }
}

@media screen and (max-width: 1099px) {
  .responsive-section {
    width: 25%;
  }

  .section-content {
    margin-top: 5.9rem;
  }

  .nav {
    display: none;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .header {
    width: 100%;
    padding: 1.5rem 1.8rem;
    padding-left: 1.2rem;
  }

  .menu-icon-box {
    display: flex;
  }

  .settings-category {
    width: 30%;
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 999px) {
  .responsive-section {
    width: 28%;
  }

  .icon-div {
    display: none;
  }

  .notifications {
    display: block;
  }

  .settings-category {
    padding: 2rem 1rem;
  }

  .profile-pics {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 899px) {
  .responsive-section {
    width: 32%;
  }

  .search {
    width: 20rem;
  }

  .settings-category {
    width: 35%;
  }
}

@media screen and (max-width: 799px) {
  .responsive-section {
    width: 35%;
  }
  .search-box {
    margin-left: 2rem;
  }

  .search {
    width: 18rem;
  }

  .settings-category {
    display: none;
  }

  .settings-menu-icon {
    display: inline;
  }
}

@media screen and (max-width: 699px) {
  .responsive-section {
    width: 40%;
  }
  .profile-box {
    display: none;
  }

  .responsive-settings-category {
    width: 45%;
  }
}

@media screen and (max-width: 599px) {
  .responsive-section {
    width: 47%;
  }
  .search {
    width: 13rem;
  }

  .responsive-settings-category {
    width: 55%;
  }

  .settings-menu-icon {
    right: 4%;
  }
}

@media screen and (max-width: 499px) {
  .responsive-section {
    width: 54%;
  }
  .search-box {
    display: none;
  }

  .menu-icon-box {
    margin-right: 0.8rem;
  }

  .alternate-search-box {
    display: flex;
  }

  .responsive-settings-category {
    width: 65%;
  }

  .settings-menu-icon {
    right: 5%;
  }
}

@media screen and (max-width: 399px) {
  .responsive-section {
    width: 65%;
  }
  .alternate-search-box {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .alternate-search-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: gray;
  }

  .responsive-settings-category {
    width: 75%;
  }

  .responsive-settings-category {
    padding: 3rem 0.7rem 2rem;
  }
}

@media screen and (max-width: 329px) {
  .responsive-section {
    width: 70%;
  }

  .responsive-settings-category {
    width: 80%;
  }
}

@media screen and (max-width: 299px) {
  .responsive-section {
    width: 80%;
  }
  .alternate-search-box {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .menu-icon-box {
    margin-right: 0.3rem;
  }

  .responsive-settings-category {
    width: 100%;
  }
}
