.div {
  display: flex;
}

.section {
  width: 83%;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
  margin-left: 17%;
  display: flex;
  overflow: hidden;
  height: 100vh;
  z-index: 3;
}

.section-content {
  margin-top: 5.25rem;
  height: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  padding-bottom: 0;
}

.projects-section {
  width: 35%;
  padding: 1rem 1.5rem;
  height: 100%;
  overflow: auto;
}

.projects-section-head {
  font-family: var(--general-font);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.projects-box {
  overflow: auto;
  max-height: 35vh;
  padding: 0;
}

.projects-head {
  font-weight: 500;
  color: gray;
  font-family: var(--general-font);
  font-size: 1.15rem;
}

.projects-list {
  list-style-type: none;
  margin-top: 1rem;
  /* overflow: auto; */
}

.projects-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border: 1px solid white;
  width: 95%;
}

.projects-list-item:hover {
  border: 1px solid orange;
}

.leader-box {
  display: flex;
  align-items: center;
  position: relative;
}

.leader-tooltip-text {
  position: absolute;
  background: gray;
  color: white;
  font-family: var(--general-font);
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  top: -10%;
  left: 20%;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
  max-width: 12rem;
}

.leader-box:hover .leader-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.projects-item-img {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  object-fit: cover;
}

.projects-item-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: black;
  width: calc(100% - 5rem);
}

.projects-item-name {
  font-family: var(--general-font);
  font-weight: 500;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-item-count {
  font-family: var(--general-font);
}

.view-project-link {
  margin-left: auto;
  align-self: flex-start;
  color: black;
  display: none;
}

.view-project-icon {
  width: 1.1rem;
  height: 1.1rem;
}

.current-view-project-link {
  color: white;
  display: inline;
}

.default-pic {
  border: 1px solid orange;
}

.projects-list-item:hover .view-project-link {
  display: inline;
}

.current-project-list-item {
  background: orange;
  border: 1px solid orange;
  cursor: default;
}

.current-projects-item-details {
  color: white;
  text-shadow: 1px 2px 3px black;
}

.current-projects-item-menu {
  fill: white;
  cursor: pointer;
}

.tasks-section {
  width: 65%;
  padding: 1rem 2rem;
  height: auto;
  overflow: auto;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
}

.tasks-section-head {
  font-family: var(--general-font);
  font-size: 1.4rem;
}

.project-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-task-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.add-task-btn {
  outline: none;
  font-family: var(--general-font);
  background: orange;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.03rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 20px -5px orange;
  transition: opacity 0.3s;
  text-transform: capitalize;
}

.select-btn {
  outline: none;
  font-family: var(--general-font);
  background: white;
  color: orange;
  padding: 0.5rem 1.2rem;
  border: 1px solid orange;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  text-transform: capitalize;
  display: none;
  margin-bottom: 1rem;
}

.active-select-btn {
  background: orange;
  color: white;
}

.select-btn-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
}

.tasks-section-text {
  margin-right: auto;
  font-family: var(--general-font);
  font-size: 1.4rem;
  display: none;
}

.add-task-btn:hover {
  opacity: 0.85;
}

.article-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.projects-container {
  position: relative;
}

.alt-projects-section {
  position: absolute;
  background: white;
  box-shadow: 1px 1px 10px -3px black;
  z-index: 3;
  width: 55%;
  max-height: 60vh;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 5px;
  overflow: auto;
  display: none;
  animation: showProjects 0.3s ease-in-out 0s;
}

.alt-projects-list {
  list-style-type: none;
  margin-top: 1rem;
}

.alt-projects-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 0.5rem;
  border: 1px solid white;
  width: 90%;
}

.alt-projects-list-item:hover {
  border: 1px solid orange;
}

.alt-projects-list-item:hover .view-project-link {
  display: inline;
}

.show-projects {
  display: block;
}

.add-task-icon {
  margin-right: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}

.hide-add-task {
  display: none;
}

.no-projects-text {
  font-family: var(--general-font);
  color: gray;
  font-size: 1.05rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.show-more-btn {
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 1.03rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 10px -3px orange;
  transition: opacity 0.3s;
}

.show-more-btn:hover {
  opacity: 0.8;
}

.network-icon {
  margin-right: 0.7rem;
  transform: translateY(2px);
}

/* Animations */

@keyframes showNav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showProjects {
  from {
    max-height: 0;
  }
  to {
    max-height: 90vh;
  }
}

/* Media Queries */

@media screen and (min-width: 800px) {
  .alt-projects-section {
    display: none;
  }
}

@media screen and (max-width: 1174px) {
  .projects-section {
    width: 38%;
  }

  .tasks-section {
    width: 62%;
  }
}

@media screen and (max-width: 1099px) {
  .section-content {
    margin-top: 6rem;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }

  .projects-section {
    width: 35%;
  }

  .tasks-section {
    width: 65%;
  }
}

@media screen and (max-width: 999px) {
  .projects-section {
    width: 38%;
  }

  .tasks-section {
    width: 62%;
  }
}

@media screen and (max-width: 899px) {
  .projects-list-item {
    width: 100%;
  }
}

@media screen and (max-width: 799px) {
  .projects-section {
    display: none;
  }

  .tasks-section {
    width: 100%;
  }

  .tasks-section-head {
    display: none;
  }

  .select-btn {
    display: flex;
  }

  .tasks-section-text {
    display: flex;
  }

  .add-task-btn {
    padding: 0.6rem 1.2rem;
  }
}

@media screen and (max-width: 699px) {
  .alt-projects-section {
    width: 65%;
  }

  .alt-projects-list-item {
    width: 95%;
  }
}

@media screen and (max-width: 599px) {
  .tasks-section {
    padding: 1rem 1.5rem;
  }

  .alt-projects-section {
    width: 75%;
  }

  .alt-projects-list-item {
    width: 95%;
  }
}

@media screen and (max-width: 499px) {
  .tasks-section {
    padding: 1rem;
  }

  .alt-projects-section {
    width: 90%;
  }

  .projects-item-name {
    font-size: 1.05rem;
  }
  .projects-item-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .select-btn {
    padding: 0.5rem 1rem;
  }

  .add-task-btn {
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  .add-task-icon {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (max-width: 399px) {
  .alt-projects-section {
    width: 100%;
  }

  .alt-projects-list-item {
    width: 100%;
  }

  .projects-item-img {
    width: 2.3rem;
    height: 2.3rem;
  }

  .select-btn {
    padding: 0.4rem 0.7rem;
  }

  .projects-item-name {
    font-size: 1rem;
  }

  .projects-item-count {
    font-size: 0.9rem;
  }

  .tasks-section-text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 329px) {
  .tasks-section {
    padding: 1rem 0.75rem;
  }
}

@media screen and (max-width: 299px) {
  .select-btn {
    font-size: 0.9rem;
  }

  .tasks-section {
    padding: 1rem 0.5rem;
  }
  .select-btn-icon {
    width: 1.05rem;
    height: 1.05rem;
  }
}
